[2019-02-27 20:04] sampierson commented on #828
Nevermind.  I see this is implemented enough for GA.

[2019-02-27 20:04] #828 closed

[2019-02-27 23:27] willrockout opened #849 "Adding drug use to the medical history schema"
**For which schema is a change/update being suggested?**

I would like to add a field to the medical_history schema.

**What should the change/update be?**

I would like to add a new field - `drug_use` - to this schema to allow data contributors to fill out a donors drug use and be able to track it.

**What new field(s) need to be changed/added?**

* Field name: drug_use
* Field description: A lis

[2019-02-28 09:17] malloryfreeberg commented on #849
I feel a bit uneasy about using a term like "drug use" which might carry a negative social connotation.

There is already a field `medication`

[code]

which essentially records "legal" or prescribed drug use, as opposed to what I *think* you're requesting for this field which is non-prescribed or illegal drug use. I wonder if we can merge these two concepts into a generic field that records any p

[2019-02-28 13:32] malloryfreeberg opened #852 "Add biostudies_accessions field to project schema."
**For which schema is a change/update being suggested?**

I would like to request an update to the `project.json` schema.

**What should the change/update be?**

I would like to add a new field - `biostudies_accessions` - to this schema to allow data contributors to indicate whether their project has 1 or more [BioStudies](https://www.ebi.ac.uk/biostudies/) accessions.

**What new field(s) need to

[2019-02-28 14:49] #845 closed

[2019-02-28 16:31] claymfischer commented on #849
Illicit drug abuse was brought up at a metadata meeting in June 2017 (Boston) as something downstream consumers would want recorded. I think it had to do with the rising number of deaths from opioids being potential donors, but may recall incorrectly. Perhaps @lauraclarke has more input.

[2019-02-28 19:51] malloryfreeberg commented on #849
I don't doubt recording this information is useful. The point I was trying to convey is that we have a growing number of fields that represent external substances used/consumed by a donor (e.g. `alcohol_history`, `smoking_history`, `medication`, and now possibly `drug_use`), that we might want to consider making a more generic field to record "Substances used/consumed by donor prior to sample coll

[2019-02-28 21:25] claymfischer commented on #849
Couldn't have said it better. 👍

[2019-03-01 09:42] #809 closed

[2019-03-01 14:23] malloryfreeberg commented on #542
@jodihir @kbergin any update on this? If you look at the bottom of the original ticket (List of needed terms), I started a list based on what I know of the terms I think we'd need. I'm especially interested in your thoughts on whether the "Processed data/metadata files from pipelines" list is complete, what else is needed, and if what I have there makes sense. But if you have any insight into the

[2019-03-01 16:34] kbergin commented on #542
Hi @malloryfreeberg I'm so sorry for the delay. It's been a really crazy few weeks. We are working on a list of outputs from our pipelines that you can check out while we work on it, [here](https://docs.google.com/spreadsheets/d/1gKVN7s_66zwQSiZB-r3IbfN18raEArahWAD4wCZnE4c/edit#gid=0). We have been working on it but haven't been able to prioritize it with the rest of the team's work for review by

[2019-03-01 16:35] malloryfreeberg commented on #542
@kbergin ok, thanks for the update :) I understand about Optimus, and I will probably poke again in a few weeks if I don't hear anything just so that I can keep on this for our own prioritization. Thanks!

[2019-03-01 17:01] kbergin commented on #542
Thank you!!

On Fri, Mar 1, 2019 at 11:36 AM Mallory Freeberg <notifications@github.com>
wrote:

--
Kylee Degatano
Senior Software Product Manager
Human Cell Atlas Data Coordination Platform
Data Sciences Platform, Broad Institute

[2019-03-01 19:19] #664 closed

[2019-03-01 19:20] #824 closed

[2019-03-04 14:11] hewgreen opened #855 "Project role to become an ontology field"
**For which schema is a change/update being suggested?**

`project_role` should be an ontology rather than an enum?

ArrayExpress use this term https://www.ebi.ac.uk/ols/ontologies/efo/terms?short_form=EFO_0002012

We would need:

Add:
- data wrangler
- pathologist
- technician
- principal investigator
- co investigator
- clinician
- experimental scientist
- computational scientist
- administrator

[2019-03-05 10:52] hewgreen opened #856 "Add some dev facing docs for using ontologies"
Add documentation to address the following use cases:

1. As a developer against the HCA metadata, I would like to be able to convert an ontology curie to a url so I can provide a link to my users to the ontology entry.
1. As a contributor of HCA metadata, I would like to know what the acceptable terms are for a specific curie so that I can select the best term.
1. As a consumer of the HCA metadat

[2019-03-05 12:10] daniwelter commented on #315
Based on comments received in the doc and on the Metadata call on 25/02/2019, this proposal is likely no longer relevant.

[2019-03-05 12:49] malloryfreeberg commented on #539
Solving the "entering partial date-time" issue is a requirement for ingesting a GA dataset that we have now. I am ok with moving ahead with Dani's suggestion, although I might change the `pattern` to be more permissive for including all partial version of the date-time. I would like to move this to the current sprint so it's not a blocker for ingesting this dataset.

[2019-03-05 15:32] sampierson opened #859 "Alerts are sent to dev/ops team for a component when it is down/unhealthy"
As a developer/operator of the DCP
when a component is down or unhealthy
I should receive an alert

Our current alert mechanism is to send messages to an appropriate Slack channel.
I believe @mweiden's status dashboard does this.  You just need to tell it where to look.

[2019-03-05 15:38] sampierson opened #860 "Operator Documentation (RunBooks)"
Internal.

Runbook should detail how to deploy the component.
Runbook should detail how to roll-back a deployment.
Runbook should provide guidance on how to diagnose / resolve common problems.

Create your RunBook on allspark.dev.data.humancellatlas.org
Put a link to it in this page: https://allspark.dev.data.humancellatlas.org/dcp-ops/docs/wikis/home

Examples:

https://github.com/HumanCellAtlas/

[2019-03-05 15:46] joshmoore commented on #542
Thinking about (quoting from the description):

- Other imaging inputs?? - for describing imaging inputs
- zarr files?? - for describing what?

after a recent conversation on slack, I think there's a pattern here for filesets (or trees of files) in which you want to talk about a collection and can often do it by using what I've referred to elsewhere as a "key file" as a proxy for the collection bu

[2019-03-05 15:51] sampierson opened #861 "Big Red Button"
As the operations team, I need a way to stop production should something be going extremely wrong, i.e. abuse of the system, security breach

Tony Tung is a great resource for this

- [x] ingest
- [x] data store
- [x] upload
- [ ] Data browser
- [ ] Data portal
- [x] secondary analysis
- [ ] operations runbook for pushing the big red button

Post Pilot:
- [ ] matrix service

[2019-03-05 15:52] sampierson opened #862 "Move all services to GitLab deployments"
Brian H has been volunteered to track this effort.

AC:
Production deployments in gitlab

- [ ] Ingestion service deployments
- [x] Upload service deployments
- [x] Secondary Analysis service deployments
- [x] Data Storage service deployments
- [x] Matrix service deployments
- [ ] Data browser service deployments
- [x] Data portal service deployments

[2019-03-05 16:09] malloryfreeberg commented on #861
@justincc

[2019-03-05 16:19] sampierson opened #863 "Track financial details, including the total spend incurred by usage of the DCP in production conditions"
We need to monitor our spending and find ways to improve where possible.

Coverage is required In both AWS and GCP.  Need to be able to break spend down by DCP component, and by service type (bucket storage, compute, batch, etc).

In AWS I believe this requires we tag each of our resources and then use their finance tools to mine those tags and aggregate costs.  Not sure how this works in GCP.

St

[2019-03-05 17:19] zperova commented on #542
Here is what we get from contributors with the current SpaceTx format specification:

codebook.json - maps patterns of intensity in the channels and rounds of a field of view to target molecules
experiment.json - links the data manifests and codebook together
nuclei.json - links data manifest and nuclei images together
nuclei-fov.json - contains information about field of view and each tile contai

[2019-03-05 17:20] sampierson opened #864 "Ensure secrets do not leak into source code"
Verify that all developers are using Git Secrets.

https://github.com/awslabs/git-secrets
https://cloud.google.com/blog/products/gcp/help-keep-your-google-cloud-service-account-keys-safe
https://docs.google.com/document/d/1_7deaZd2XbjUetVJs8EsQg6JbW_MEX2iFgXpnR_PyYs/edit#heading=h.4f1e34ah25ia

[2019-03-05 18:26] hannes-ucsc commented on #542
@joshmoore

What if there isn't such a key file? I think it would be preferable to put all related files into a directory (which the DSS is working on supporting) and then in describing the directory with metadata as if it were a file.

[2019-03-05 18:33] hannes-ucsc commented on #542
… unless the plan is to not even include the related files in the bundle. If only the key file is mentioned in the bundle, we don't need a directory inside the bundle.

[2019-03-05 18:45] sampierson opened #865 "A developer onboarding and offboarding process is followed"
As a DCP stakeholder
I want an onboarding and off-boarding process to be followed for developers
so we maintain the integrity of the DCP source code when people leave the team.

We need to follow an onboarding and off-boarding process both:
- at the DCP level - that addresses things such as GitHub organization access and PaaS access
- and at the component/ team level, that addresses specific needs

[2019-03-05 19:33] diekhans commented on #542
The current overal design has files as the atomic unit, both on the server and what the user sees. I believe to try to hack around that to support file groups is going to cause issues in the long run.  There may be times in the future where we need user-friendly names for specific files.    A user might wish to verify checksums.

I do believe there is a problem with the proliferation of file.josn

[2019-03-05 19:45] joshmoore commented on #542
What do you foresee data submitters needing to do when uploading these json files?

I only know of one quite old format for which one couldn't define a key file. But I agree, that dealing with the directory in its entirety would suffice, if not even be preferable. (Thinking about it, I realize depending on how the zarr is constructed it may also have "multiple key files" if there are no groups and

[2019-03-05 21:01] sampierson opened #866 "Ensure only code approved by appropriate reviewers gets merged into the DCP"
We will use a service/tool called "Pull Approve" to achieve this (https://www.pullapprove.com/).

Overview:
The DevSecOps team are going to sign up for a pullapprove account.
[PullApprove Overview](https://www.pullapprove.com/docs/)
[Enabling required status checks - GitHub](https://help.github.com/en/articles/enabling-required-status-checks)

[2019-03-05 21:10] sampierson opened #867 "Add security.txt file to all repos"
Add a security.txt file to all repo.
This is as a way for people to communicate security issues to us.
security.txt contents:
[code]

[2019-03-05 21:35] sampierson opened #868 "Review HCA repositories and verify that the list of readers/writers is following principle of least access"
The HumanCellAtlas GitHub teams have been restructured.
To ease the transition to this structured world, everyone is currently in a team called "HCA" that has WRITE access to all repos.  We want to move away from this.

Each component team lead needs to audit the GitHub teams that have access to their repos.
Ensure only appropriate teams (e.g. CZI, UCSC, etc) have write access to your component's

[2019-03-05 22:50] sampierson opened #869 "3rd party libraries in use are tracked and analyzed for security risk"
DevSecOps team needs to tell us what tools to use to do this.
Then we will update all the component team tickets with that information.

[2019-03-06 02:35] diekhans commented on #542
Sorry, I was referring to the metadata json files, not data json files.   The current metadata schema requires a file-*.json metadata file.  Having hundreds of thousands of ile-*.json files to keep the data files company would be a bit insane.   My point is that is is also not good practice to not have metadata files to track these files.  We need to stored the metadata differently.

:-(

[2019-03-06 03:18] hannes-ucsc commented on #542
File checksums are tracked in the DSS. There is extensive machinery in place in Ingest, Upload and DSS to ensure integrity. There is no need to burden the metadata with that.

Any objections to moving forward with using one metadata entity to describe a directory of files inside a bundle as currently being implemented by the DSS team?

[2019-03-06 04:13] diekhans commented on #542
The integrity example is on the user side.  Do I still have all the files, what versions are they, etc. How
are versioned tracked?  Does the whole directory have a single version?  Did my undergrad overwrite a file?

My concern with *not* with the DSS, but with the HCA "metadata" and how groups of files are modeled.  The DSS is supposed to be agnostic to the metadata.  The metadata really needs to

[2019-03-06 04:55] hannes-ucsc commented on #542
The DSS exposes the checksums in `GET /bundles` and `GET /files`. There is no need to track checksums in the metadata. End-to-end integrity is guaranteed by the DCP as a whole, independently of the metadata.

[2019-03-06 04:57] hannes-ucsc commented on #542
https://dss.data.humancellatlas.org/v1/bundles/ffffa79b-99fe-461c-afa1-240cbc54d071?version=2019-02-27T223320.296197Z&replica=aws

[2019-03-06 05:01] diekhans commented on #542
I am sorry I used checksums as an example; it is clearly missing my point, which is about data modeling and representation by the metadata data.

But to beat the dead horse, the metadata does track the checsum:

   https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/core/file/file_core.json

[2019-03-06 05:02] diekhans commented on #542
The metadata currently does not contain enough information to obtain the checksum from the DSS, is that is the desired approach.

[2019-03-06 05:04] diekhans commented on #542
I meant to ask, what does the bundle manifest look like with a directory with 10000 files in in?

[2019-03-06 05:39] hannes-ucsc commented on #542
I don't think that's true — if you know the bundle UUID.

I don't think it is practical to have giant JSON structures with 10000 or more files in it. Nevertheless, it is still useful to allow groups of, say less than 1000 files within a bundle. I've already proposed a solution for the imaging datasets but I am tired/afraid of repeating it.

Consider a AWS: They put limits on everything, sometimes

[2019-03-06 05:53] diekhans commented on #542
The bundle UUID is not contained in the metadata; especially hard since the metadata is duplicated.
If you actually try to construction the metadata graph, it requests some interesting merge of informatization in the metadata, links.json, and the metadata manifest.  If we had versioned bundles, it would be much, much harder.  Essentially, time traveling bundle history.

Yet, this is a requirement

[2019-03-06 06:08] hannes-ucsc commented on #542
The only way to get to the metadata is via a bundle so it is safe to assume that the bundle UUID is available. So again, given a bundle, you have everything. How do you get a bundle? You query the DSS or Azul.

I think you are solving a problem 1% of the user's have. Most people want the current metadata. Including all versions in one graph is overkill. We need the latest graph and a way to look a

[2019-03-06 06:08] diekhans commented on #542
Looks like the current per-file bundle manifest entry is around ~500-600 bytes, including white space.  So a 10000 file JSON structure, uncompress is like ~5mb.  I routinely text 50 mb files into my text editor.  Doesn't seem alarming to me.

Somewhere you have to track the files.  As inefficient as JSON is, it doesn't seem to be near the point of inventing new mechanisms.

I am fine if this isn't

[2019-03-06 06:13] hannes-ucsc commented on #542
I think that analogy is lacking. Do you load hundreds of thousands of those files into your text editor? Do you do this concurrently for 100 users?

You don't. You should talk to Josh about how the imaging sets and zarray stores work.

[2019-03-06 06:23] diekhans commented on #542
Good point.  Not necessarily a touchdown, but shows the need for some thinking.

As long as the atomic boundary is the blob of files, then we don't have to track it beyond what an AWS bucket tracks, that is fine,  If we provide a reproducible method to very the blob is a particular version (say defined ordering of md5s of md5s), then we can describe this in the metadata as a single version

[2019-03-06 07:26] joshmoore commented on #542
The fact that an undergrad did overwrite a single file should be detectable, but the invalidation would apply to the entire blob of files. A single TIFF (or a typo in a single data json) impacts the entire dataset. (Similarly for a zarr)

Just so I can follow along, you're talking here about the metadata json as opposed to the data json files (which will do exactly the same thing)?

It does period

[2019-03-06 11:06] zperova commented on #542
Upload of json data files is no different than of the tiff data files. I am not sure I understand the question.

To bring this back to where I left off, I think that the user might want to download the codebook.json alone, while the experiment.json alone is not as useful without the data files themselves. Taken this I rather give direct access to the codebook.json file as well.

[2019-03-06 14:32] malloryfreeberg opened #870 "Define way to indicate confidence level of metadata fields."
**Description**

As a data consumers who downloads and uses data from the DSS, I would like to have an idea of how confident I can be in the correctness of metadata fields in order to be able to process, analyze, and interpret the data to my standard.

**Acceptance Criteria**

- [ ] TBD

[2019-03-06 14:33] malloryfreeberg commented on #870
@mckinsel I started a stub issue for you here and filled out a generic use case. Could you please review and update as appropriate? And even start to list some acceptance criteria that would satisfy your needs. Thanks!

[2019-03-06 16:56] hannes-ucsc commented on #542
I think I got mixed up. I was talking about a bundle (the manifest JSON) that explicitly lists all the files in an imaging set or a metadata JSON that does that. I think both are unnecessary. I don't think large JSON *data* files are a problem.

One can't overwrite files in the DSS. One can only create a new version. One can supply the version when one PUTs a file. If one uses the same version for

[2019-03-07 07:19] diekhans commented on #542
I chatted with Hannes about this today and am convinced that the File metadata for can just represent a complex directory of files  like the zarray format, with just one analysis_file entity.  It could have a file_type of "zarray" and file_encoding of "directory" (assuming this attribute is added.

However, we had a very interesting discussion/disagreement about the meaning of file entities.
Does

[2019-03-07 13:08] #867 closed

[2019-03-07 14:02] malloryfreeberg commented on #855
@daniwelter if we would like to suggest adding some of our terms, can we list them in this ticket with the requested term and description? Or should be make the request in another repo?

[2019-03-07 14:06] daniwelter commented on #855
Please put a separate request into the ontology repo. It makes it easier for me to track all the ontology additions that are needed.

[2019-03-07 14:22] malloryfreeberg commented on #855
Can you link to that repo here so I don't have to try to remember :)

[2019-03-07 14:33] daniwelter commented on #855
Srsly?? https://github.com/HumanCellAtlas/ontology

[2019-03-08 14:33] malloryfreeberg opened #877 "Include versions with accession fields."
**For which schema is a change/update being suggested?**

I would like to request an update to schemas that have accession fields.

**What should the change/update be?**

I would like to be able to capture version information for fields that are accessions. This could potentially be implemented as new fields.

**What new field(s) need to be changed/added?**

*e.g.* field for indicating version of

[2019-03-08 16:10] #648 closed

[2019-03-08 16:46] zperova opened #878 "Change example for the filter_range in channel.json"
**For which schema is a change/update being suggested?**

I would like to request an update to the `channel.json` schema.

**What should the change/update be?**
I would like to change the example for filter_range in channel.json to be in the following format: CWL / BW (nm)

**Why is the change requested?**

The CWL / BW (nm) format is more widespread among the companies supplying excitation filter

[2019-03-09 18:30] diekhans opened #880 "Update metadata file modeling to support data types stored as directories"
## Problem statement:

The addition of the zarr-based imaging data format has challenged the current design of the metadata file entities.  The purpose of this ticket is to design changes to the metadata model to reflect the ongoing challenges based on the storage of multi-file data types.

Before anyone panics: this is not a radical change, this is mostly a rigorous definition of what the "file"

[2019-03-09 20:32] tburdett commented on #880
Or upload. There are critical data lifecycle events that run during ingestion of data that hang off events triggered when submitters upload a file, and depend on metadata for each uploaded data file.

Assuming files in a zarr container are uploaded individually into the upload area, the main value to the ingestion service is actually critical. Ingest must know the address (the `cloudUrl`) for each

[2019-03-09 23:29] diekhans commented on #880
If the directory container is considered atomic (which is really key to not tracking it in the metadata), when events would need to be generated on the container when all files are uploaded, not the individual files.  Just as if it was a tar file.

I believe it would be up to the DSS to provide a mechanism to do this.

Maybe it *is* uploaded as a tar file and then the DSS extracts and de-dups in t

[2019-03-09 23:47] diekhans commented on #880
For any of this to work, ingest would have to treat the directory and file hierarchy it contains as a single, logical file.  No different than a treating a fastq as a container of reads.

I would hope that ingest should not have to bake in any knowledge of the content of the xarr, just that there is a directory hierarchy.  Otherwise, this is a stupid ticket ;)

[2019-03-09 23:51] diekhans commented on #880
For this to work, the upload would assign an FQID only to the directory that it is sending.  It would be entirely up to the DSS to assign FQIDs to each file.  The download would be the same. The container is just the directory instead of a tar file.  Directory tree would be a DSS concept.

[2019-03-10 00:40] diekhans commented on #880
Ingest would only link a process to the entire zarr, not any individual files within it.   Ingest should/could not know or care about the internal structure.  it's just bytes that happened to be spread out over multiple files instead of in one.

The DSS needs to make a directory behaving just like a single file or this gets very hard.

[2019-03-11 06:55] joshmoore commented on #542
I think this refers more to what happens pre-upload (as an AUDR scenario).

[2019-03-11 07:42] joshmoore commented on #880
Ignoring any of the issues that @tburdett brings up, :+1: for `file_encoding=directory`, though it may suggest slightly different values for https://github.com/HumanCellAtlas/metadata-schema/issues/812 ; I'll comment there separately.

Thinking about the user impact, there will be cases where users already have directory-style filesets that have been archived into a single. Supporting commands for

[2019-03-11 07:58] joshmoore commented on #812
The suggestion in https://github.com/HumanCellAtlas/metadata-schema/issues/880 for adding a `file_encoding` of "directory" might avoid needing all the granularity of EDAM.

Though JSON may still be needed for the codebook (https://github.com/HumanCellAtlas/metadata-schema/issues/542#issuecomment-470066724), it might be that the uploading of `TIFF` files as a separate entity is discouraged due to l

[2019-03-11 09:25] malloryfreeberg commented on #864
If you are listed below, please confirm (by checking the box below by your name) that you have installed GitSecrets. If you don't have Git Secrets installed, please do by **Monday March 25**
by following the instructions posted in the ticket.

- [ ] @hewgreen
- [ ] @zperova
- [ ] @daniwelter
- [ ] @simonjupp
- [ ] @diekhans
- [ ] @willrockout
- [ ] @cjvillar
- [ ] @pnejad
- [ ] @malloryfreeberg

[2019-03-11 10:22] malloryfreeberg commented on #880
Responding to the schema change suggestions:

this field will be clarified to represent the actually data format, less encoding.  For the zarr directories,
the value would be "`zarr`".

Agreed. Would need an update to the documentation of this field and added validation in ingest.

👍  I like this suggestion, as it appears to solve a at least 2 confusions/issues (fastq vs. fastq.gz; single file vs.

[2019-03-11 10:26] rolando-ebi commented on #880
w.r.t checksums in metadata

If we want validation of checksums between user file-system -> upload-service, we'll need some user provided checksums. Might be best to build this into the hca cli tool, yeah (i.e have the hca cli tool generate checksums, or accept user-provided checksums, prior to upload and confirm them after upload)

[2019-03-11 11:37] zperova commented on #813
@hewgreen I have further comments/questions.

First, I think we should leave the name of the schema as is because the information we are collecting is about the target, the probe is the implementation, in this case.

Second I propose to have the following fields:
target label: cFos_ex1
target name: FBJ osteosarcoma oncogene
target specification: part of exon 1 of cFos
NCBI accession (or ensemble):

[2019-03-11 14:12] hewgreen commented on #813
Your first point is not true as per point 1. As these experiments use multiple probes per target, contributors hacked the sheet to reflect their assay. They were forced to provide probes as entities rather than targets. When the mapping probe:target is 1:1 either name works but as the majority will be multiple probes per target this is required. One entity per row is consistent with the rest of th

[2019-03-11 14:38] malloryfreeberg commented on #623
It seems like this issue has been superseded by #880? Should we close this issue?

In parallel we are discussing "describing the contents of a file" #542. Some of the issues here/#880 might be helped by #542.

[2019-03-11 15:06] zperova commented on #813
We want to be target searchable so it needs to be indexed, however, we do not want the probe sequence to be indexed. We can make a target label more specific to incorporate target name and target specification - sure. But it is possible to have a different subcellular structure for the same target - so I don't see a way of combining these two.

[2019-03-11 17:22] hewgreen commented on #813
Indexing is not a problem here. This is dictated by other components based on their requirements rather than the metadata.
We can add multiple valid ontology terms to one ontology field.

[2019-03-11 17:22] diekhans commented on #880
Note that is related to, but also may be different than #623.  This describes an archive stored as a directory tree where the contents are opaque to the user.  #623 could cover cases where the files are grouped, but the individual files and their meaning is transparent to the users, such as a pair of FASTQ files.

[2019-03-11 17:29] diekhans commented on #623
Note that is related to, but also may be different than #880.  #880 describes an archive stored as a directory tree where the contents are opaque to the user. #623 could cover cases where the files are grouped, but the individual files and their meaning is transparent to the users, such as a pair of FASTQ files.

[2019-03-11 18:43] lauraclarke commented on #855
Quick comment, clinician and consultant are not synonymous in the UK health system. We should confirm that it is an appropriate term to use as someone who hasn't reached that stage in their medical career might not want that term and might create problems

[2019-03-11 18:52] diekhans commented on #880
In DSS call today:

- It is suspect that the DSS may be able to support this already once `/' are allowed in file names, however, need to understand more the interaction with ingest
- @kislyuk  suggested that storing a zarr as a single bundle might be a good approach.
- @diekhans needs to talk to @sampierson to understand original concepts behind ingest
- Need to talk with people dealing with imag

[2019-03-11 20:45] tburdett commented on #880
Catching up - @joshmoore I personally love this suggestion:

Although I can see that you might legitimately want to support both cases, so the difference is explicit in metadata/media type (`file_encoding=directory` vs `file_encoding=tar.gz`)

This also speaks to @diekhans' point:

[2019-03-11 21:22] tburdett commented on #880
I'll try to keep implementation details out of this thread, as this ticket should be to define what makes the most sense to define in the metadata schema to drive our usecases. But seeing as I mentioned some of the implementation issues already, I will summarise anyway... (!)

My major concern is to treat many files in a directory as a single S3 bucket object. It's obviously possible to "interpret

[2019-03-11 21:25] tburdett commented on #880
I should also say - I am happy to make myself available for conversations about the "original concepts behind ingest", although I have no doubt @sampierson and @parthshahva will be reliable sources of information for upload/ingest interactions. Also tagging @justincc in case he wants to follow.

[2019-03-11 21:37] tburdett commented on #623
My read: between the metadata model that already exists (i.e. a single process generates multiple discrete files) and #880 (a single process generates a directory structure representing a single archive) we have covered the usecases described in this ticket

[2019-03-11 21:42] parthshahva commented on #880
This is already in progress. We'll be using a 5th checksum calculating during upload and on server side to ensure corruption-free uploads. We'll be adding the same 4 tags to the files on the server side to allow for export to dss

[2019-03-11 21:43] parthshahva commented on #880
I'm struggling to follow this thread, but I'm happy to chat about the repercussions of changes on upload <=> ingest

[2019-03-12 06:47] joshmoore commented on #542
Interesting. To comment on

from the spreadsheet, the [.zgroup](https://zarr.readthedocs.io/en/latest/spec/v2.html#groups) and [.zattrs](https://zarr.readthedocs.io/en/latest/spec/v2.html#arrays) files are plain json files. `.zgroup` is very restrictive, but is required to turn a directory into a zarr fileset. `.zattrs` is much more flexible and is intended for arbitrary user metadata.

[2019-03-12 09:31] malloryfreeberg commented on #855
RE: computational scientist -> data analyst

I think I would rather add "computational scientist" than use "data analyst" here. I don't see a definition for this term in the ontology, but some Googling shows the "data analyst" term is often used in reference to business and problem-solving, not so much in science or as a way to answer hypotheses. Wikipedia's definition of [computational scientist]

[2019-03-12 09:35] malloryfreeberg opened #883 "Remove checksum field from file_core metadata."
**For which schema is a change/update being suggested?**

I would like to request an update to the `file_core.json` schema.

**What should the change/update be?**

I would like to remove the `checksum` field.

**What new field(s) need to be changed/added?**

No new fields.

**Why is the change requested?**

There is work being done in Upload Service to [ensure corruption-free uploads](https://gith

[2019-03-12 09:37] lauraclarke commented on #855
It would be good to be able to see the definition of these terms, the ols website doesn't seem to provide them @daniwelter do you know where we can find them

[2019-03-12 09:43] daniwelter commented on #855
If they're not in OLS, they're not in the ontology but I can add them if there's anything specific we're looking for.

For the record, I don't agree with any of the synonyms proposed above expect perhaps external curator as a synonym for curator. All the other terms should be terms in their own right.

[2019-03-12 09:59] lauraclarke commented on #855
@daniwelter I can't find a definition for consultant through which is in OLS https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0001732

[2019-03-12 10:06] lauraclarke commented on #870
It would be good to make sure we define "correctness" well or choose a better word. I am assuming this isn't about individual fields being right or wrong, that we can't know, we have to assume we have been given the right values by submitters but how complete for optional but valuable fields the metadata is

[2019-03-12 10:12] lauraclarke commented on #883
One potential reason to keep the checksums in our file metadata is if that is the only way for users to find the checksums so they can check for corruption on download. If there is another reasonable way for users to get this information, removing it here seems fine. If there isn't then I would suggest there is a use case for keeping it

[2019-03-12 10:15] daniwelter commented on #855
Yes, as I said, if the definition isn't in OLS, the term doesn't have a definition in the ontology. It's not very good practice to add ontology terms without definition but there are 1000s like that anyway, especially from the early days of EFO.

[2019-03-12 10:46] malloryfreeberg commented on #883
I think if Upload Service is generating them, submitters should get them somehow from the US. Maybe displayed in the submission UI at some point. And the checksums should be gettable programmatically. I worry about doing a copy into the metadata content from something that the US/ingest uses. It seems to me that something like the checksum value should be tracked by the infrastructure.

[2019-03-12 10:55] malloryfreeberg commented on #870
I think there might be two uses for "confidence" here.

The first use is, as you state, how confident a consumer can be that an optional field is filled in.

The other use is actually about individual fields being right or wrong. One of @mckinsel 's key examples is the `strand` field. There is only one correct answer for `strand` for a given experiment type. 10x 3' v2 I believe sequences the "firs

[2019-03-12 11:48] lauraclarke commented on #870
Just to reiterate what I have just discussed with @malloryfreeberg

We have to be very careful with correctness, we only knew that the value @mckinsel pointed us too was wrong because he pointed it out. I think we need to maintain the idea that the value we are given by the submitter is the correct value unless it fails our validation because the validation infrastructure to assume anything else i

[2019-03-12 11:49] malloryfreeberg commented on #855
Instead of "Human Cell Atlas wrangler", maybe we just go with "data wrangler"?

[2019-03-12 13:19] justincc commented on #623
@diekhans Could you summarize what the proposal now is?

[2019-03-12 15:32] rolando-ebi commented on #880
@diekhans
From an ingest point of view, I don't see any problem with introducing metadata that marks certain files as being directory-like.

I think those are sensible changes but I am confused about the exact purpose of fqid here.

This reads as if you're suggesting we stop representing each file in a zarr container as a file entity; suggesting that we instead just track the zarr, and then the co

[2019-03-12 18:05] diekhans commented on #623
Summary:
1. The metadata file_core entity is changed to allow representing complex data types, such as zarr, which are stored as multiple files in a directory hierarchy as a single entity.  This eliminates the need to store a large number of entities actually represent the internals of a data structure.
1. Checksums are removed from the file entity.  All file integrity management, including client

[2019-03-12 19:04] claymfischer commented on #870
I am quite wary of this. My concern is that it will be increasing complexity in something already complex, solving a problem we don't currently have, and enabling confidence where I am not sure we should.

[2019-03-13 10:19] malloryfreeberg commented on #870
I agree with this point.

Besides validating that the JSON document adheres to the schema, we don't do any semantic validation. For example, it is known that if an experiment follows the standard 10x 3' v2 protocol, they they have sequenced the first strand of cDNA. If a contributor submits data from a standard 10x experiment and puts in "second" or "unstranded" for the strand field, we should fla

[2019-03-13 10:23] lauraclarke commented on #870
I like this idea @malloryfreeberg I also think it is easier to implement and has lower social consequences for submitters than asking them to express certainty in the values they give us

[2019-03-13 10:36] malloryfreeberg commented on #870
@diekhans had a good suggestion for ordering of validation types post-import https://github.com/HumanCellAtlas/metadata-schema/issues/539#issuecomment-463728467

1. syntax validation (check JSON conforms to schema)
1. correction/repair/consistency
1. semantic validation (see that fields make sense together)

e.g. if `library_construction_method` == "10x 3' v2 sequencing" then `strand` should be "f

[2019-03-13 10:40] lauraclarke commented on #870
That makes a lot of sense, from a time and complexity perspective we might need to implement at least some bits of semantic validation and run in the absence of a repair UI as otherwise it is going to get very frustrating from a user perspective, unless the repair being referred to is automated

[2019-03-13 10:45] malloryfreeberg commented on #870
I think the "awesome" goal is for repair to be automated. There are some incremental repairs goals that could be implemented sooner, for example if a user puts "M" in the `sex` field, we could repair that to "male" in order to pass validation. I imagine this would happen programmatically in the background. Other repairs will be trickier and require opt-in from submitters in the UI. I'm thinking a

[2019-03-13 10:49] daniwelter commented on #870
+1 on automatic enum/ontology-based standardisation of free-text values. I'm in the middle of reviewing all ontology mappings from all the current datasets and we have various cases of the same field value being spelt in different ways in the free-text field (eg 10X v2 sequencing v 10x v2 v 10x_v2)

[2019-03-13 14:08] malloryfreeberg commented on #855
Suggested new terms/definitions to add (will put a separate request in the ontology repo):

1. **data wrangler** - A person who converts data into a usable form with the intent of making the data more usable and valuable for a variety of purposes such as use in downstream automated or semi-automated tools. (no citation)
1. **pathologist** - A person who studies the causes and effects of diseases,

[2019-03-13 14:09] malloryfreeberg commented on #855
@hewgreen @lauraclarke @daniwelter please let me know if you'd like any edits to the above terms by **Friday Mar 15**. Afterwards I'll convert the consensus terms to a formal request in the ontology repo.

[2019-03-13 17:10] mweiden commented on #859
Yes, this is currently in place:

* Health check - https://github.com/HumanCellAtlas/dcp-monitoring/blob/master/terraform/modules/singleton-health-checks/metadata-schema.tf
* Alert - https://github.com/HumanCellAtlas/dcp-monitoring/blob/0cf3f76c8baa7d1fb0c9e94ac926ec5ad1f870be/terraform/modules/singleton-alerts/metadata-schema.tf

I will close this ticket now. If you would like changes to the aler

[2019-03-13 17:32] diekhans commented on #880
Currently, the version of the file being represented by the file entity can only be found indirectly but looking it up in the bundle manifest from which the file entity was obtained.  This extra step makes the metadata model less clear and more cumbersome to work with.    Adding FQID  creates a clear boundary of responsibility between metadata and DSS.   It also means the provenance of a file can

[2019-03-13 17:34] diekhans commented on #880
Yes, this is exactly what I am suggesting :-)  The ability to treat a directory tree as an archive rather than individual files.  Analogous to HDF5 or a tar file.

[2019-03-13 18:11] diekhans commented on #883
I think it would be good to couple this with adding the file fqid, so as there is still a way to link to a specific version of the file.

[2019-03-13 18:15] diekhans commented on #883
At a minimum, the checksum would need to be obtainable from the DSS by fqid. Ideally, the DSS cli would provide a client-side validation.  This moves all responsibility for data integrity to the DSS

[2019-03-13 21:11] willrockout commented on #855
@malloryfreeberg I feel data wrangler and data curator are the same things. The rest looks good to me!

[2019-03-13 23:28] zperova commented on #855
What happened to the “administrator” role?

[2019-03-14 09:15] zperova commented on #813
To summarize the discussion we and the decision we have arrived at.
The module should be renamed probe.json and should contain the following fields:
probe_label
probe_sequence (includes only sequence corresponding to the target, no adapters)
target name in the codebook
target ontology text +rest of the fields (this will include subcellular localization either in the ontology itself or by adding an

[2019-03-14 09:27] malloryfreeberg opened #884 "Remove growth_conditions from cell_suspension schema."
**For which schema is a change/update being suggested?**

I would like to request an update to the `cell_suspenion.json` schema.

**What should the change/update be?**

I would like to remove the field/module `growth_conditions` from the cell suspension schema since cell suspensions should not undergo growth. If cells are being cultured, they should be recorded as a cell line.

**What new field(s)

[2019-03-14 09:30] malloryfreeberg commented on #855
Oops! Dropped that one. Will add back.

[2019-03-14 09:34] malloryfreeberg commented on #855
@daniwelter do you have thoughts on whether the curator and wrangler definitions are too close to be considered two separate ontology terms?

[2019-03-14 09:35] lauraclarke commented on #855
@malloryfreeberg I know I am not who you asked but I suspect sticking with curator for both is a good idea

[2019-03-14 09:50] malloryfreeberg opened #885 "Add to release prepare documentation what to do when release prepare script fails"
**Description**

As a metadata team member, I would like to know what to do when the release preparation script fails without completing. What should happen is the person doing the release should use git to remove all the changes that were done and then re-run the release prepare script.

**Acceptance Criteria**

- [x] Add instructions to the release process doc about what to do if the release_pre

[2019-03-14 10:03] malloryfreeberg commented on #855
Dani agrees as well.

[2019-03-14 12:38] zperova commented on #813
after discussion with @daniwelter kept a separate field for target's subcellular structure

[2019-03-14 13:02] hewgreen commented on #813
Can we have the discussion here? Two fields make it confusing because we only want one or the other filled in.

[2019-03-14 14:15] malloryfreeberg commented on #859
@mweiden is the Alert meant to be an internal alert? Or an alert that should go out to non-DCP people as well?

If the former, I'll open a ticket in dcp-monitoring to sent the alert to #hca-metadata-int. Thanks for setting this up!

[2019-03-14 18:18] mweiden commented on #859
@malloryfreeberg this information is already public and I think it's best we keep it that way for transparency to users/devs: https://humancellatlas.github.io/projects/metadata-schema/

[2019-03-14 19:11] claymfischer commented on #855
Curator and wrangler are two fairly defined roles, from my perspective.

A _wrangler_ interacts with labs and often handles unprepared data to prepare for submission to a database. They require good social skills.

A _curator_ tends to be in a role where they do not work with labs directly, but rather with publications to extract information and primarily works with data already submitted and in a

[2019-03-14 19:20] lauraclarke commented on #855
I suspect the ArrayExpress curators who work closely with publication authors to accurately reflect their data in the archive would disagree with important parts of that distinction

I am also not sure if that distinction is helpful from the perspective of anyone external using these labels for looking at who has been responsible for what in the context of HCA submissions using the metadata

[2019-03-15 02:50] diekhans opened #889 "Support for semantic validation of metadata"
This ticket serves as a place to define the needs of semantic validation of metadata that goes beyond the syntactic validation of JSON schema.  This includes detailed value , cross field, and cross-entity validation.  Please link tickets that relate to or would be address by sematic validation.

[2019-03-15 02:53] diekhans commented on #889
Related issues:
- #539 Values entered as dates only should be valid in date-time typed fields
- #870 Define way to indicate confidence level of metadata fields.

[2019-03-15 02:56] diekhans commented on #870
I created an issue to collect issues related to the need for
semantic validation:

   https://github.com/HumanCellAtlas/metadata-schema/issues/889

I like the two issues mentioned here, please to add any other you think might
be related.

Mallory Freeberg <notifications@github.com> writes:

[2019-03-15 10:48] #846 closed

[2019-03-15 10:59] malloryfreeberg opened #890 "Add remaining schema Style Guide checks to schema linter"
**Description**

As a metadata team member (committer) who makes changes to the metadata schemas, I would like to be sure my schema changes adhere to the Style Guide by running the schema linter.

Features are from this [doc](https://docs.google.com/document/d/1pg-YCBE9YGAEVVZQN6p3nKMghdjiUSd8i4mlnRheoUs/edit#).

**Acceptance Criteria**

The following checks should be added to the linter:

- [x] E

[2019-03-15 16:47] daniwelter commented on #826
A first pass of this is done: https://github.com/HumanCellAtlas/data-consumer-vignettes/tree/metadata_vignette/tasks/Explore%20metadata

The fields are currently entirely hard coded so the vignette will break if there are field changes.

[2019-03-15 16:50] daniwelter commented on #855
All terms apart from data wrangler added/updated in EFO. The next EFO release will be on Monday and I will do an HCA-internal release in the next couple of weeks, subject to resolving some unrelated blocking ontology issues.

[2019-03-18 10:49] hewgreen commented on #847
Built this tool to count attributes. https://github.com/HumanCellAtlas/hca-data-wrangling/blob/master/vignettes/Attribute%20Freq.ipynb

Now looking into issue that schema used for cbeta release was not latest.

[2019-03-18 11:10] zperova commented on #826
@daniwelter the link for the notebook doesn't work

[2019-03-18 11:15] zperova commented on #855
I think a wrangler and a curator should be two separate terms. As the data contributors work with wranglers, and not curators, substituting wrangler for curator makes it confusing in my opinion.

[2019-03-18 13:18] lauraclarke commented on #855
Sounds like we need to have an in-person discussion about this.

An important issue to consider is what is the downstream use case for this role field. In the context of those downstream use cases, is it useful to distinguish between curator and wrangler?

In the DCP the wranglers work with contributors, in other contexts such as the Gene Expression Atlas, curators work with paper authors, I would

[2019-03-18 13:58] zperova commented on #855
If this information will be only for internal use, then I think it is fine to keep wrangler and curator the same, but if this will ever be contributor-facing, I think it will be confusing for them not to see "their wrangler" in the list as wrangler - since this is how we call ourselves and how they refer to us in all our communications.

[2019-03-18 18:09] hewgreen commented on #848
https://docs.google.com/spreadsheets/d/1vytO_c0R9-NZ2Qge2UVq90955HKm81vSd4tcL0Z2BNg/edit?ts=5c80ee4d#gid=0

[2019-03-19 10:56] hewgreen commented on #847
The tool I had looked for attributes in latest schema but these projects are largely out of date. I built this tool which tells you which attributes are out of date so I can assess the current state of counts:

https://github.com/HumanCellAtlas/hca-data-wrangling/blob/master/vignettes/attribute_migration.ipynb

[2019-03-19 11:10] hewgreen commented on #758
Handing this over now. Research done so far:

Response from Michaela Asp in Joakim's group:
https://drive.google.com/drive/folders/0B-rEFaPQ8v3GOElwSjNDcEs2UVU
and some example metadata:
https://drive.google.com/drive/folders/0B-rEFaPQ8v3GOElwSjNDcEs2UVU

Response to some questions from Anna Wilbrey-Clark:
https://docs.google.com/document/d/1B8OarYdOem1heUWTE_o2BOoP7M2B6H586QFpmBRMPXY/edit

[2019-03-19 13:25] malloryfreeberg commented on #814
Moving this issue to the Icebox. Currently unclear how to resolve this. Requires more research and is not necessary to have this done now.

[2019-03-19 13:30] malloryfreeberg commented on #759
@willrockout I think there is a lot of pressure to get this done sooner rather than later. There is the one dataset already in production that uses this technique, and the wranglers have been hearing that groups are working on this and related techniques. Do you think you can have this ticket done in the next 2 weeks? If not, can you please find someone else who can work on it? If you need help cl

[2019-03-19 13:49] malloryfreeberg opened #892 "Write up RFC for Library Prep entity"
**Description of the task:**

Write up an internal RFC (to be turned into a DCP-wide RFC) for adding a Library Preparation biomaterial entity to the HCA metadata model. RFC should synthesize discussions and opinions from this [doc](https://docs.google.com/document/d/15-UkjbAlGDGhOPw1Zu09YdoaGw2Zeq5Y3uDlGsrz6pw/edit#heading=h.zu8c32dxlj1).

**Acceptance criteria for the task:**

- [x] Internal RFC

[2019-03-19 14:57] malloryfreeberg opened #893 "New project_role ontology schema"
**What is the proposed name of the new schema?**

I would like to request a new schema called ~`project_role_ontology.json`~ `contributor_role_ontology.json`

**What field(s) should the new schema contain?**

* Field name: describedBy (same as other ontology schemas)
* Field name: schema_version (same as other ontology schemas)
* Field name: text
    * "description": "The primary role of the indiv

[2019-03-19 15:04] malloryfreeberg opened #894 "Make project_role an ontology field"
**For which schema is a change/update being suggested?**

I would like to request an update to the `contact.json` schema.

**What should the change/update be?**

I would like to change this field from an enum to an official ontology. This ticket is currently blocked by adding the new `project_role_ontology.json` schema (issue #893).

**What new field(s) need to be changed/added?**

No new fields.

[2019-03-19 20:04] zperova commented on #759
@willrockout we just got another Cite-seq dataset

[2019-03-20 15:02] #837 closed

[2019-03-20 16:38] #885 closed

[2019-03-21 09:13] simonjupp opened #899 "Provide mechanism to provide a context-specific human readable property name"
There's a requirement to provide human readable names for property names when presenting the metadata schema to consumers (DataBiosphere/azul#784). Some property names come from shared modules or core schemas e.g. `biomaterial_id` has a user friendly name of “Biomaterial ID”.

If human readable labels alone are used to present metadata with multiple biomaterial types then you'll have multiple colu

[2019-03-21 10:11] malloryfreeberg opened #900 "Ontologize select metadata fields."
**For which schema is a change/update being suggested?**

I would like to request an update to multiple schemas.

**What should the change/update be?**

I would like to make some fields ontologies.

- [ ] `cell_line.type`
- [ ] `cell_line.name` (don't have this field now, but maybe add to cell line schema #756 )
- [x] `contact.project_role` (#894)
- [ ] `file.format` (#812)

**What new field(s) ne

[2019-03-21 11:19] malloryfreeberg commented on #759
Copying some relevant info from a recent email thread:

From @samanehsan :

From Ambrose:

[2019-03-21 11:33] hewgreen commented on #759
Initially we were going to reuse the targets module to capture the proteins as Ambrose suggests. However, I think this module should be imaging specific and therefore should be nested into the imaging protocol schema. Nevertheless, the fields will be quite similar and the principle identical. We need two fields mapping readout sequence to protein identifier (uniprot). Again this will be an array.

[2019-03-21 15:20] #847 closed

[2019-03-21 15:20] hewgreen commented on #847
Results here

https://docs.google.com/spreadsheets/d/1vytO_c0R9-NZ2Qge2UVq90955HKm81vSd4tcL0Z2BNg/edit?ts=5c80ee4d#gid=0

[2019-03-21 15:21] hewgreen commented on #847
These have been shared with Anja, Norman and wranglers

[2019-03-21 17:15] hewgreen opened #902 "How to trigger a DCP-wide integration test"
Release SOP states you should trigger a DCP-wide integration test when your release to integration. We need to link to documentation that explains how to do this.

[2019-03-22 17:18] samanehsan commented on #759
Following up on the topic of queries:

For example, instead of excluding single nuclei sequencing assays, we are matching on "nucleic_acid_source: single cell" so that we only receive data from whole cells. @hewgreen @willrockout is there something equivalent we can do to exclude CITE-seq assays or is that metadata something that will be determined as a part of this ticket?

[2019-03-22 18:06] willrockout commented on #759
@samanehsan that can be an outcome of this ticket. I believe the main goal is figuring out what we need to include metadata wise to make the data usable downstream such as antibody and barcode information.

[2019-03-22 19:54] lauraclarke commented on #759
@willrockout you are correct sufficient information to ensure the data is analysable downstream is the main goal but if in the same stroke we can make the metadata more useful for the pipelines team to have accurate notifications then all the better

[2019-03-25 08:54] hewgreen commented on #759
Thanks @samanehsan. Just thinking aloud, our pipelines are much less generic than we often refer to in conversation. Saying 'we have pipelines for 10x' is not right. For '10x', we only support whole cell, 10x v2 library prep, non CITE seq, non cell hashing, human etc. Do you have a tight specification anywhere in plain english about exactly what the pipelines can handle? Where they can be generic

[2019-03-25 12:05] malloryfreeberg commented on #733
@simonjupp let me know if this looks good. If so, I'll move it to the style guide epic.

[2019-03-25 13:28] #838 closed

[2019-03-25 13:34] malloryfreeberg commented on #542
@kbergin @jodihir and progress on supplying a list of required file content descriptions/ontology terms?

[2019-03-25 14:34] rolando-ebi commented on #733
I’d go with "alias" instead of "label", "label" is synonymous with “tag” and when I think of tags I think of many tags per thing.

[2019-03-25 16:31] hannes-ucsc opened #905 "Rename `donor_organism` to `donor`"
Apologies for not following the template but this one is easily explained.

There currently is only one entity type with `donor` in its name. Unless we expect another type of `donor`, say `donor_cell`, it would make sense to shorten the name because it turns out that we frequently need to qualify metadata properties fully—in TSV headers, for example. These fully-qualified metadata property referen

[2019-03-25 16:33] hannes-ucsc opened #906 "Rename `specimen_from_organism` to `specimen`"
Apologies for not following the template but this one is easily explained.

There currently is only one kind of `specimen` mentioned the schema. Unless we expect another type of `specimen`, it would make sense to shorten the name because it turns out that we frequently need to qualify metadata properties fully—in TSV headers, for example. These fully-qualified metadata property references tend to

[2019-03-25 16:35] malloryfreeberg commented on #905
Thanks for the schema update request!

A similar ticket already exists: #386

I will close this ticket and transfer your usability comment to the older ticket, if that's ok?

[2019-03-25 16:36] malloryfreeberg commented on #386
Comment from @hannes-ucsc

[2019-03-25 16:38] malloryfreeberg commented on #906
Thanks for suggesting a schema update!

A similar issue already exists: #389

I'll close this issue and post your comment on the existing issue, if that's ok?

[2019-03-25 16:38] malloryfreeberg commented on #389
From @hannes-ucsc

[2019-03-25 18:03] kbergin commented on #542
Jodi has set up some time this week with the CBs to get this list. Thanks
for the ping!

On Mon, Mar 25, 2019 at 9:34 AM Mallory Freeberg <notifications@github.com>
wrote:

--
Kylee Degatano
Senior Software Product Manager
Data Generation Pipelines
Data Sciences Platform, Broad Institute

[2019-03-25 18:43] jodihir commented on #542
@malloryfreeberg I'm working on meeting with our comp bios to get this done this week.

[2019-03-25 19:16] malloryfreeberg commented on #623
@diekhans Are you happy to be the "shepherd" for this functionality? I think there are a few things needed for this, and it's not clear where we are with each thing being proposed, decided, etc.

[2019-03-25 19:28] malloryfreeberg commented on #542
Excellent! Thank you both!

[2019-03-25 19:42] lauraclarke commented on #758
@malloryfreeberg @zperova is this still in hand?

[2019-03-25 22:08] zperova commented on #758
@lauraclarke I still plan to do the presentation but the rest is waiting for Enrique. We can make a new ticket for that, or leave this for Enrique as well.

[2019-03-25 22:31] #852 closed

[2019-03-26 05:00] hannes-ucsc commented on #905
Duplicates #386.

[2019-03-26 05:00] #905 closed

[2019-03-26 05:18] hannes-ucsc commented on #906
Duplicates #389.

[2019-03-26 05:18] #906 closed

[2019-03-26 05:27] hannes-ucsc commented on #389
-1 on body_part. Do all organisms have bodies and are those made up of parts? Even if they do, isn't a specimen a removed section of the tissue in a body part?

+0 on tissue

+1 on specimen

Also worth considering: biospecimen.

[2019-03-26 08:39] lauraclarke commented on #389
So specimen actually means a whole organism rather than a bit of one according to a dictionary, not sure if that is commonly understood

https://en.oxforddictionaries.com/definition/specimen
An individual animal, plant, piece of a mineral, etc. used as an example of its species or type for scientific study or display.

One of tissues meanings is a distinct material which is a bit larger than we ar

[2019-03-26 12:58] malloryfreeberg commented on #893
Changed `project_role` to `contributor_role` to be more accurate.

[2019-03-26 15:26] hannes-ucsc commented on #389
Wikipedia gives a slightly different definition for *biological specimen* but I guess Oxford wins:

https://en.wikipedia.org/wiki/Biological_specimen

Hence my `biospecimen` proposal. Throwing `tissue_sample` in there, as well.

The existing `specimen_from_organism` is going to be one of the types that Azul is currently working on exposing in the new Samples tab which is to replace the Specimens t

[2019-03-26 15:30] malloryfreeberg commented on #812
New terms to add to EDAM under Format:

1. **Zarr** - The Zarr format is an implementation of chunked, compressed, N-dimensional arrays for storing data. ([citation](https://zarr.readthedocs.io/en/stable/index.html))
1. **MTX** - The Matrix Market matrix format stores numerical or pattern matrices in a dense (array format) or sparse (coordinate format) representation. ([citation](https://reference

[2019-03-26 18:07] lauraclarke commented on #389
Interesting looks like the dictionary definition is closer to zoological specimen from a wikipedia perspective

https://en.wikipedia.org/wiki/Zoological_specimen

I think @gabsie has UX evidence to support tissue being slightly preferable but as I said before I am happy with either

[2019-03-26 22:11] samanehsan commented on #759
Thanks @hewgreen. There is some information about what the pipelines support in the [HCA data portal](https://staging.data.humancellatlas.org/learn/userguides/data-processing-pipelines/overview-of-data-processing-pipelines-user-guides), and I also have some [materials](https://drive.google.com/drive/u/0/folders/1qOIyRKIr1mTuzoFZTUfX0p71ZAB-97ar) from the breakout session on this topic from the las

[2019-03-27 09:42] hewgreen commented on #848
Mapping of attributes and attribute counting is done. Further support will be required to complete the paper.

[2019-03-27 09:42] #848 closed

[2019-03-27 09:52] lauraclarke commented on #848
What further support is needed?

[2019-03-27 09:59] hewgreen commented on #848
1. Add some implementation detail about HCA metadata to the paper (Matt)
2. Add [interoperability context](https://wellcome.figshare.com/articles/Review_Interoperability_standards/4055496) of this work to intro or conclusion (Norman)
3. CIRM may want to align their metadata (undecided)
4. We may want to do more quantitative analysis and a like for like comparison of metadata usage (undecided)
5. W

[2019-03-27 15:09] willrockout commented on #759
@samanehsan I see you added v3 for the 10x pipeline does that mean you will be able to analyze CITE-seq data?

[2019-03-27 19:56] samanehsan commented on #759
I'm not sure @willrockout, but @ambrosejcarr, @barkasn or @kishorikonwar could provide more information here

[2019-03-29 16:43] zperova opened #911 "Correct gestational_age in the Donor schema"
**For which schema is a change/update being suggested?**

I would like to request an update to the `donor_organism.json` schema.

**What should the change/update be?**

I would like to update the field description and guidelines for `gestational age`  as the current definition is incorrect.

**What new field(s) need to be changed/added?**

definition: Gestational age of pregnancy measured from the

[2019-03-29 19:04] jodihir commented on #542
@malloryfreeberg just an fyi that we are on this and should have comments together for you next week.

[2019-04-01 09:49] #878 closed

[2019-04-02 12:06] #893 closed

[2019-04-02 13:27] stahiri commented on #869
Per #308, DevSecOps recommendation is for everyone to use the same tool. Both Snyk and SourceClear are good options here. Prior recommendation from the team is to start with Snyk since it's open source (SourceClear requires procurement).

[2019-04-02 16:07] zperova opened #916 "Fix enum for storage_method for preservation_storage.json"
**For which schema is a change/update being suggested?**

I would like to request an update to the `preservation_storage.json` schema.

**What should the change/update be?**

I would like to fix enum for storage_method:
frozen at -70C to frozen at -80C

**Why is the change requested?**

Freezing at -80C is a conventional storage method.

[2019-04-02 18:14] malloryfreeberg commented on #916
Can we add "frozen at -80C" instead of replace what's there? Unless you want to check that no current datasets use "frozen at -70C". If so, that dataset will not validate against the schema change.

[2019-04-02 18:27] malloryfreeberg commented on #916
Also, removing a value from an enum is a major version change. Adding is only a minor version change :)

[2019-04-02 19:54] zperova commented on #916
@malloryfreeberg sure, I can add instead. Maybe specific protocol, or rather poorly working freezer :) This brings me to a question, how do contributor's know that this is an enum? i understand in the future this will be incorporated in the spreadsheet, but i think it makes sense to add all the values for enums in the spreadsheet to the Spreadsheet guide.

[2019-04-02 22:34] malloryfreeberg commented on #756
@hewgreen @lauraclarke @pnejad any thoughts here would be much appreciated!

[2019-04-02 22:36] malloryfreeberg commented on #844
I'm going to close this ticket as through discussion above it seems like we've all agreed to *not* make `lane_index` required at this time.

If we want to make this, or any other fields, "highly recommended" through some secondary validation step, we can open a new ticket for that.

[2019-04-02 22:36] #844 closed

[2019-04-02 23:03] malloryfreeberg commented on #864
If you are listed below, you are a member of the metadata-updates team in the Human Cell Atlas organization which means you have commit privileges in the metadata-schema repo. As per this issue, please confirm - by checking the box below next to your name - that you have installed GitSecrets by **Friday April 19**.

If you don't have Git Secrets installed but would like to commit to this repo, ple

[2019-04-02 23:06] malloryfreeberg commented on #868
Related to #866

[2019-04-03 05:58] pnejad commented on #756
@malloryfreeberg

I think it would be good to capture the cell line retail name in the metadata. I also think it would be good to come up with an internal list of cell line names. However, we should be careful with aliases if we come up with a list like SCEA (e.g. H1 = WA01, H9 =WA09, H14 =WA14 etc).

Creating an internal list of cell line names might also be useful when deciding if a dataset is s

[2019-04-03 06:20] hewgreen opened #917 "timecourse module add to cell line biomaterial"
We have now added differentiated cell line entities to the neuronal diff dataset. We have the timecourse information on cell suspension but it would be nice to record this on the cell line entity. We should add this as an optional module to the cell line entity.

[2019-04-03 07:24] daniwelter commented on #864
@malloryfreeberg I'm not on this list but I do have commit privileges to the repo and have installed git secrets.

[2019-04-03 09:04] malloryfreeberg commented on #865
@hewgreen given that you are in the process of being off-boarded, maybe we can use the doc you have written for yourself as a starting point for developing metadata-team and wrangler-team off-boarding documentation?

@ESapenaVentura given that you are in the process of being on-boarded, maybe we can use the docs/tickets we've put together as a starting point for developing metadata-team and wrangl

[2019-04-03 09:42] zperova opened #918 "Update description to model_organ in cell_line.json"
**For which schema is a change/update being suggested?**

 I would like to request an update to the `cell_line.json` schema.

**What should the change/update be?**

I would like to change description to a field - `model_organ` - to this schema to correctly capture what it represents.

**What new field(s) need to be changed/added?**

Current description says "Organ for which this cell line is a mod

[2019-04-03 09:53] malloryfreeberg commented on #916
@zperova if you haven't started this update, maybe we can give it to @ESapenaVentura ?

[2019-04-03 09:54] malloryfreeberg commented on #917
Will pull this into the sprint so we don't block ingestion.

[2019-04-03 10:06] justincc commented on #864
Please remove me from this repo

[2019-04-03 10:09] zperova commented on #918
We have agreed to model the experiments with ES lines by adding the differentiated cell line into the cell line tab and providing correct linking of differentiated cell line to cell suspension. The `model_organ` for the ES cell line could be either `embyo` or `not applicable` (to be implemented) and would not show up in the browser, as the browser will link to the `model_organ` for the differentia

[2019-04-03 10:10] zperova commented on #918
This should be included into the Spreadsheet guide (not the quick guide).

[2019-04-03 10:10] #918 closed

[2019-04-03 10:31] zperova commented on #916
Sure. @ESapenaVentura feel free to reassign this issue and go ahead.

[2019-04-03 13:48] ESapenaVentura commented on #865
@malloryfreeberg seems like a good idea. When I have some free time I can try and gather all the docs/tickets that you have given me up to this point. They could be potentially useful for a hypothetical future wrangler.

[2019-04-03 13:51] ESapenaVentura commented on #916
@malloryfreeberg @zperova Ok, I can try!

[2019-04-03 17:59] sampierson opened #919 "Require 2FA in all Github and GitLab repos"
As a DCP stakeholder, I want all developer accounts to be secured with 2FA, so that a compromised password alone won't allow malicious actors to inject malware into the DCP codebase.

It would be nice if we could just turn on the _"everybody in this organization must have 2FA set up"_ GitHub feature, but we cannot, as there are many members of the organization peripherally attached to the HCA (Jam

[2019-04-03 18:21] jodihir commented on #542
@malloryfreeberg  I spoke with Nick Barkas @barkasn and he suggested:
1. remove the ‘feature-barcode matrix’ term

2. possibly add a Zarr term:
Zarr - a container file format for pipeline outputs
(Since there can be multiple types of information in a single Zarr file, the definition is general.)

3. replace Genome Index with Alignment reference
This is the reference sequence used for alignment of

[2019-04-04 13:03] malloryfreeberg commented on #894
@ESapenaVentura if you want to try a more complex schema update, feel free to take this one :)

[2019-04-04 13:43] #916 closed

[2019-04-04 14:39] daniwelter opened #921 "Add `Not applicable` to enum for donor_organism.is_living"
**For which schema is a change/update being suggested?**

I would like to request an update to the `donor_organism` schema.

**What should the change/update be?**

I would like to add the option `Not applicable` to the enum for `is_living`

**Why is the change requested?**

This change came out of a discussion on the correct `living` status for an embryo generated during in vitro fertilisation and

[2019-04-04 15:32] lauraclarke commented on #865
@ESapenaVentura you could potentially create a template issue for onboarding a new wrangler to capture the standard tasks and help you learn how to build issue templates

[2019-04-04 15:59] ESapenaVentura commented on #894
@malloryfreeberg will do! I'm actually really curious about this task, so I'm looking forward to do it!

[2019-04-04 17:09] sampierson opened #922 "Components SHOULD implement Level 2 Health Checks"
_The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and "OPTIONAL" in this document are to be interpreted as described in RFC 2119._

**As a DCP Operator,
I want to know not only that a component is up, but that it is nominally functional,
so that we may take action if necessary to remedy the situation.**

Most components currently on

[2019-04-04 18:35] ESapenaVentura commented on #865
Seems like a good idea! We can talk tomorrow about it

[2019-04-05 08:09] malloryfreeberg opened #923 "Change `selected_cell_type` to `selected_cell_types`"
**For which schema is a change/update being suggested?**

I would like to request an update to the `cell_suspension.json` schema.

**What should the change/update be?**

- [x] change `selected_cell_type` to `selected_cell_types` because the field is an array
- [x] change description for `selected_cell_type` to clarify that this is a predicted or enriched-for cell type and might not actually be the

[2019-04-05 08:15] malloryfreeberg opened #924 "Change `differentiation_method` to `method` and make `small_molecules` an array"
**For which schema is a change/update being suggested?**

I would like to request an update to the `differentiation_protocol.json` schema.

**What should the change/update be?**

- [x] change `differentiation_method` to `method`  to remove redundancy ("differentiation")
- [x] ~change `small_molecules` to an array because the field can take more than 1 value~ It's probably overkill to make this cha

[2019-04-05 08:18] malloryfreeberg opened #925 "Change `enrichment_method ` to `method`, `min_size_selected` to `minimum_size`, `max_size_selected` to `maximum_size`"
**For which schema is a change/update being suggested?**

I would like to request an update to the `enrichment_protocol.json` schema.

**What should the change/update be?**

- [ ] change `enrichment_method ` to `method`  to remove redundancy ("enrichment")
- [ ] change `min_size_selected` to `minimum_size`
- [ ] change `max_size_selected` to `maximum_size`

**What new field(s) need to be changed/a

[2019-04-05 08:21] malloryfreeberg opened #926 "Updates to multiple fields in `ipsc_induction_protocol.json` schema"
**For which schema is a change/update being suggested?**

I would like to request an update to the `ipsc_induction_protocol.json` schema.

**What should the change/update be?**

- [x] remove `ipsc_induction_produced_in_house` field to remove redundancy (`process.location`) (#459)
- [x] change `ipsc_induction_method ` to `method` to remove redundancy ("ipsc_induction")
- [x] change `ipsc_induction_

[2019-04-05 08:25] malloryfreeberg opened #927 "Change `contact_name` to `name`"
**For which schema is a change/update being suggested?**

I would like to request an update to the `contact.json` schema.

**What should the change/update be?**

- [x] change `contact_name` to `name` to remove redundant word (contact)

**What new field(s) need to be changed/added?**

Above.

**Why is the change requested?**

Adhere to Style Guide.

    Ping Marcus, Brian, Hannes, Dave

[2019-04-05 08:27] malloryfreeberg opened #928 "Change `publication_title` to `title`, `publication_url` to `url`"
**For which schema is a change/update being suggested?**

I would like to request an update to the `publication.json` schema.

**What should the change/update be?**

- [x] change `publication_title` to `title` to remove redundancy
- [x] change `publication_url` to `url` to remove redundancy

**What new field(s) need to be changed/added?**

Above.

**Why is the change requested?**

Adhere to Style

[2019-04-05 08:28] malloryfreeberg opened #929 "Change `biosd_biomaterial` to `biosamples_accession`, `insdc_biomaterial` to `insdc_sample_accession`"
**For which schema is a change/update being suggested?**

I would like to request an update to the `biomaterial_core.json` schema.

**What should the change/update be?**

- [x] change `biosd_biomaterial` to `biosamples_accession` to be more precise about what the field is
- [x] change `insdc_biomaterial` to `insdc_sample_accession` to be more precise about what the field is

**What new field(s) ne

[2019-04-05 08:31] malloryfreeberg opened #930 "Change `process_location` to `location`, `operator` to `operators`"
**For which schema is a change/update being suggested?**

I would like to request an update to the `process_core.json` schema.

**What should the change/update be?**

- [x] change `process_location` to `location` to remove redundancy ("process")
- [x] change `operator` to `operators` to reflect that this field is an array

**What new field(s) need to be changed/added?**

Above.

**Why is the chang

[2019-04-05 08:46] malloryfreeberg opened #931 "Change protocol and process `type` fields."
**For which schema is a change/update being suggested?**

I would like to request an update to multiple schemas (see below).

**What should the change/update be?**

- [x] analysis_protocol.json
    - [x] change `protocol_type` to `type` (actually to something else that is more descriptive than
- [x] protocol.json
    - [x] change `protocol_type` to `type` to remove redundancy ("protocol")
- [x] pr

[2019-04-05 10:24] ESapenaVentura commented on #894
@malloryfreeberg I know that this is a more robust way of writing this field for future updates, but shouldn't the ontology support the term "other"? I'm not quite sure if this topic should be here, but I think that updating it without giving the opportunity for data contributors to put an EFO inside organization role for "others" (e.g., they don't feel the current terms fit the description of the

[2019-04-05 10:35] daniwelter commented on #894
Ahhh @ESapenaVentura, looks like someone needs their Ontologies 101 session soon.. ;-)

[2019-04-05 10:39] ESapenaVentura commented on #894
@daniwelter Yes, please! I know pretty much only basic things relating the ontologies field, and by the look of your message, I have made a horrible mistake in my previous message!

[2019-04-05 10:57] malloryfreeberg commented on #894
@ESapenaVentura not a horrible mistake :) That's a perfectly reasonable question about having the option for "other". But definitely have a discussion with @daniwelter about this (and other) ontology topics. The tl;dr is that we are able to extend the ontology if someone feels the value they want to add isn't reflected in the current ontology. There are many reasons to want to avoid a catch-all "o

[2019-04-05 11:02] ESapenaVentura commented on #894
@malloryfreeberg Oh, ok, now I understand! Yes, I have quick talk on the onboard meetings with @daniwelter , so I hope to get into further details soon!

[2019-04-05 14:52] ESapenaVentura commented on #894
I pushed what I think are all the necessary changes. However, I need to fix my 'jsonschema' module on python because it is not able to import 'Draft7Validator' and so, I can't run the `schemas_are_valid_json.py` to verify the updates in the metadata schema. I'll try to fix it this weekend!

[2019-04-05 15:15] malloryfreeberg commented on #894
I think we can actually deprecate back to the Draft4Validator. The Draft7Validator isn't released yet, and the Draft4Validator will actually work fine.

Actually what we need to do is implement the javascript json validator, as that is the one that ingest actually uses. Maybe @ESapenaVentura you can work with @simonjupp or the ingest developers to get this working (not a priority right now, though

[2019-04-08 09:29] malloryfreeberg opened #935 "Change cell_line_type to type"
**For which schema is a change/update being suggested?**

I would like to request an update to the `cell_line.json` schema.

**What should the change/update be?**

- [x] change cell_line_type to type (maybe need a better word than "type") to remove redundancy (cell_line)

**What new field(s) need to be changed/added?**

Above.

**Why is the change requested?**

Adhere to Style Guide.

[2019-04-08 13:27] #894 closed

[2019-04-08 13:31] ESapenaVentura commented on #935
Pull request linked to this issue already merged with develop.

[2019-04-08 13:32] #935 closed

[2019-04-09 02:42] diekhans commented on #623
I believe there are  two use cases here:

1.   A small number of which are where their association is known to most users, such as paired FASTQs, or BAM and BAM index files.
1.  A directory that is a container for files, such as zarr

[2019-04-09 08:12] malloryfreeberg commented on #928
@mckinsel @brianraymor @hannes-ucsc @noopdog This change has been merged into our develop environment. The aim would be to merge it into integration as soon as everyone is ready for the change.

[2019-04-09 08:12] #928 closed

[2019-04-09 08:13] malloryfreeberg commented on #925
@ESapenaVentura can you take this issue?

[2019-04-09 08:15] ESapenaVentura commented on #925
@malloryfreeberg Yes, of course!

[2019-04-09 08:41] malloryfreeberg commented on #459
Closing as this is now being tracked in #926.

[2019-04-09 08:41] #459 closed

[2019-04-09 11:05] ESapenaVentura commented on #929
Already merged.

[2019-04-09 11:05] #929 closed

[2019-04-09 12:42] #924 closed

[2019-04-09 13:31] zperova opened #945 "Add HDBR_accession field to the biomaterial_core schema"
**For which schema is a change/update being suggested?**
I would like to request an update to the `biomaterial_core.json` schema.

**What should the change/update be?**

 I would like to add a new field - `HDBR_accession` - to this schema to allow data contributors to add the HDBR accession in case the samples were collected at the MRC-Wellcome Trust Human Developmental Biology Resource (HDBR).

*

[2019-04-10 09:41] malloryfreeberg commented on #945
Email sent by Laura!

[2019-04-10 10:04] zperova commented on #945
@malloryfreeberg @lauraclarke thanks!

[2019-04-10 15:17] lauraclarke opened #946 "Support mouse data in the HCA metadata schema"
This ticket reflects the fact that the HCA metadata schema can support mouse data.

The biomaterial schema captures NCBI taxon id which allows the species to be specified
https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/core/biomaterial/biomaterial_core.json

There are also mouse specific fields specified in the donor mouse module
https://github.com/HumanCellAtlas/metadata

[2019-04-10 15:45] #946 closed

[2019-04-10 23:31] diekhans commented on #841
Another related issue is that the project is not linked into the metadata graph in this proposal.  The relationship of project with other entities is not clear and only implicit via bundle.

[2019-04-11 11:08] #925 closed

[2019-04-11 12:45] #930 closed

[2019-04-11 12:55] malloryfreeberg commented on #855
The two issues referencing this issue (#893 and #894) are done.

[2019-04-11 12:55] #855 closed

[2019-04-11 13:35] ESapenaVentura opened #948 "Script for automatic checking/change of property_migrations.json"
**Description**

Talking with @malloryfreeberg, we came to the conclusion that a script for automatic checking/updating of the `property_migrations.json` file would represent an improvement on doing changes to the schema.

Right now, whenever you push a major change, you have to manually introduce a property on that schema indicating various parameters, including the version it will be effective f

[2019-04-12 08:33] daniwelter commented on #948
A part of this script already exists but is WIP - it was a higher priority to get the property migrations file itself into production than wait for the release of a fully implemented solution, as some requirements remain tbd.

[2019-04-12 15:06] stahiri opened #950 "Capture appropriate alerts and audit trails so we can handle detected attacks and understand the consequences of emergent threats and breaches"

[2019-04-12 15:09] stahiri opened #951 "Capture appropriate alerts and audit trails so we can handle detected attacks and understand the consequences of emergent threats and breaches"
As specified in the [Q2 Roadmap] (https://docs.google.com/spreadsheets/d/1iAL2JR3ndgMmYwojUU0kU8Pm7B7ycRLt_973seREd3M/edit#gid=1107068822&range=C10).

We need appropriate alerts and audit trails so we can learn about and appropriately handle detected attacks and understand the consequences of emergent threats and breaches. This includes being able to know when an attack is taking place and being a

[2019-04-13 03:59] diekhans commented on #864
@sampierson is there a script to actually add git secrets?  The cited document doesn't allow copy/paste or save, so one it forced to type in 6 commands by hand.  Seems like a sure way for people to get it wrong.

[2019-04-15 09:10] #813 closed

[2019-04-16 10:50] daniwelter commented on #922
Is this issue relevant for the metadata component? Metadata itself does not have a live component - there is the metadata schema server but that is under the preview of a separate repo, not directly linked to or deployed from the metadata repo.

[2019-04-16 10:56] daniwelter commented on #866
Is this issue relevant for the metadata component? Metadata schemas already undergo a multi-person review process. None of the code in the metadata schema repo is actually deployed into the DCP, we only have a few scripts that we use locally to perform schema releases and check that the schemas confirm to our style guide.

[2019-04-16 11:03] daniwelter commented on #862
Is this issue relevant for the metadata component?

[2019-04-16 11:03] daniwelter commented on #861
Is this issue relevant for the metadata component?

[2019-04-16 11:05] daniwelter commented on #951
Is this issue relevant for the metadata component?

[2019-04-16 21:04] #926 closed

[2019-04-17 12:01] malloryfreeberg commented on #866
We probably need this so that we can prevent someone not on the core metadata updates team from merging in schema changes without going through the process. We are already almost there by restricting the members of the metadata-updates team to only those that commit to the repo. We can implement pull-approve with a rule that only someone on the metadata-update team can merge PRs.

[2019-04-18 03:31] NoopDog opened #955 "Add Descriptions to any field that does not have one"
For the Input parameters and workflow tasks on the Analysis Process type can we get the definitions filled out? Since they are missing in the JSON Schema we do not have any text to display for several fields in the Metadata Dictionary

See

https://dev.data.humancellatlas.org/metadata/dictionary/process/analysis/analysis_process#analysis-process-inputs-checksum

and

https://dev.data.humancellatla

[2019-04-18 08:53] ESapenaVentura commented on #917
Done!

[2019-04-18 08:53] #917 closed

[2019-04-18 08:53] malloryfreeberg commented on #931
@ESapenaVentura can you take this one?

[2019-04-18 08:57] ESapenaVentura commented on #931
@malloryfreeberg More than glad to take it!

[2019-04-18 09:11] #923 closed

[2019-04-18 09:14] malloryfreeberg commented on #945
@zperova can you be sure to link this issue to whichever dataset first used HDBR accessions so we can track which dataset required this schema update? Just putting the link to this ticket in that dataset's markdown doc should be sufficient. Thanks!

[2019-04-18 09:27] malloryfreeberg opened #957 "Archive old 10x integration test spreadsheet"
**Description**

*e.g.*: As a DCP member who depends on metadata schemas, I would like to know what I can expect from the ingest team regarding how updates are done.

With new Optimus pipeline running in the DCP, only the Optimus 10x spreadsheet is currently used by the DCP-wide integration test. As a member of the metadata schema update team, I would like to not have to maintain both the old 10x

[2019-04-18 10:25] malloryfreeberg commented on #955
Great catch, @NoopDog !

@samanehsan @rexwangcc @kbergin - I took a look at the fields in the analysis_process.json schema, and I don't think I know precisely what the fields represent enough to get the definitions correct. For example, I can guess that the `cpus` field captures some count of CPU usage, but I don't know exactly what the count is (average? total? for the whole workflow? calculated

[2019-04-18 11:02] zperova commented on #945
@malloryfreeberg would you keep this issue open then until we get one?

[2019-04-18 11:05] malloryfreeberg opened #959 "Schema linter shows Errors and Warnings separately. Fails if any Errors."
**Description**

As a DCP member who updates the metadata schemas, I would like to know whether the updates I did result in deal-breaking violations of the Style Guide (errors that need to be fixed before committing) or result in undesirable but acceptable violations of the Style Guide (warnings that _should_ be fixed but are OK to commit).

**Acceptance Criteria**

- [x] Output of running the sch

[2019-04-18 15:08] #911 closed

[2019-04-18 21:32] stahiri commented on #951
We want to be able to capture any changes to metadata schemas, as well, which I would consider a configuration change.

[2019-04-19 00:37] sampierson opened #961 "Sam's Test Epic"
Please ignore

[2019-04-19 00:38] sampierson commented on #961
Sorry tool testing fail.  Please ignore.

[2019-04-19 00:38] #961 closed

[2019-04-23 17:22] NoopDog opened #963 "Nit on "?" for boolean fields friendly name."
We are not yet consistent on using the "?" character at the end of the friendly name for boolean fields.

For example

`Drop uniformity` in 10x Specific Module vs "Paired end?` in Protocol/Sequencing Protocol.

Requesting that we are consistent in the naming with my personal preference being to drop the question mark.

[2019-04-24 17:49] hewgreen commented on #892
Internal doc here https://docs.google.com/document/d/15-UkjbAlGDGhOPw1Zu09YdoaGw2Zeq5Y3uDlGsrz6pw/edit#

[2019-04-24 17:49] hewgreen commented on #892
Internal doc here https://docs.google.com/document/d/15-UkjbAlGDGhOPw1Zu09YdoaGw2Zeq5Y3uDlGsrz6pw/edit#

[2019-04-25 12:45] #375 closed

[2019-04-25 12:47] malloryfreeberg commented on #375
@hannes-ucsc @NoopDog This change has been merged into our develop environment. The aim would be to merge it into integration as soon as everyone is ready for the change.

[2019-04-25 12:54] ESapenaVentura commented on #963
+1 on dropping the question mark. I think we should tend to avoid punctuation on names as much as possible (Even if it's a "friendly name")

[2019-04-25 12:55] malloryfreeberg commented on #375
@samanehsan @rexwangcc This change has been merged into our develop environment. I think it might affect how the analysis_file metadata are written. The aim would be to merge this change into integration as soon as everyone is ready for the change.

[2019-04-25 14:07] malloryfreeberg opened #964 "Automatically generate example metadata JSON"
**Description**

As a DCP member who depends on metadata schemas, I would like to have access to example metadata JSON that is valid against the current schema for a given environment so that I can validate new features that I am developing.

**Acceptance Criteria**

- [ ] A set of example JSON documents in the metadata-schema repo that cover the breadth of schemas and fields
- [ ] Code that gener

[2019-04-25 14:14] ESapenaVentura opened #965 "Requirements gathering for property_migrations auto-update."
**Description**

As a data wrangler and a recurring user of the metadata repo, it would be of help to dispose of a tool to assist us on filling up some error-prone fields, like the `property_migrations.json` schema. This tool would also assist people with less programming experience, and speed up the process of making major changes to the metadata schema.

**Acceptance Criteria**

- [ ] Completing

[2019-04-25 15:32] cjvillar commented on #927
Done.

[2019-04-25 15:32] #927 closed

[2019-04-25 17:38] samanehsan commented on #375
Hi @malloryfreeberg! We are currently using [analysis file schema 5.3.6 ](https://schema.humancellatlas.org/type/file/5.3.6/analysis_file). When this change goes into the file core schema, will the schema version of the analysis file increase as well? And will ingest only validate the latest version in this case too? @justincc

[2019-04-26 09:02] justincc commented on #375
@samanehsan Yes we will only validate against the latest schema version, you'll need to use `format`

[2019-04-26 09:18] cjvillar commented on #931
Merged change, closing ticket.

[2019-04-26 09:18] #931 closed

[2019-04-26 09:22] malloryfreeberg commented on #691
Removed remaining issues linked to this Epic that are currently in the Icebox, as these issues aren't being considered at this time.

At this time, all linked issues are at least pre-released (merged into develop).

[2019-04-26 09:25] #691 closed

[2019-04-26 09:34] malloryfreeberg commented on #542
@jodihir @barkasn Thanks for the terms! I've updated the ticket accordingly above.

Basically, the criteria is to be able to provide one clear term for each of the analysis files produced by the data processing pipelines. Below are the output files I think are from each pipeline (based on a secondary bundle). **Can you please confirm that there is an appropriate term (from "List of needed terms" a

[2019-04-26 10:20] malloryfreeberg opened #966 "Change format of date and date-time fields to allow partial values."
**For which schema is a change/update being suggested?**

I would like to request an update to multiple schema (below).

**What should the change/update be?**

I would like to change the format of the following `date` and `date-time` fields to alternatively allow partial date and time values using a JSON pattern. Description of the approach is [here](https://github.com/HumanCellAtlas/metadata-sche

[2019-04-26 10:21] malloryfreeberg commented on #539
Replaced by https://github.com/HumanCellAtlas/metadata-schema/issues/966

[2019-04-26 10:22] malloryfreeberg commented on #966
@daniwelter @zperova @hewgreen @ESapenaVentura @willrockout @cjvillar @pnejad What do you all think of this change? Especially @willrockout in regards to your recent start/end time PR (https://github.com/HumanCellAtlas/metadata-schema/pull/962)

[2019-04-26 10:33] brianraymor commented on #542
For awareness - I'd note that we (matrix service, secondary analysis, data browser) are discussing whether to deprecate zarr files produced in secondary analysis.

[2019-04-26 10:39] malloryfreeberg commented on #542
@brianraymor thanks for the heads up. Regardless of the format (e.g. zarr) being used, we would still like to have a term to describe the contents of each file that is produced by the data processing pipelines. So, for example, instead of displaying "zarr" or "tsv" in the "Select Manifest File Types" download box, we can display terms like "Expression matrix" or "Gene metadata", which gives consum

[2019-04-26 10:48] kbergin commented on #542
This is a stab at indicating terms, @barkasn @jodihir lmk what you think.

**Smartseq2**

`Quality control report` < - would imagine them more as `QC Metrics` but this term is fine, too
<UUID>_qc.bait_bias_summary_metrics.txt
<UUID>_qc.insert_size_metrics.txt
<UUID>_qc.quality_by_cycle_metrics.txt
<UUID>_qc.quality_distribution_metrics.txt
<UUID>_qc.rna_metrics.txt
<UUID>_QCs.csv
<UUID>_bait_bias_

[2019-04-26 10:53] ESapenaVentura commented on #966
I am all onboard with the idea of a reduced date!

Maybe I'm being a little picky, but are we restricting reduced dates to the format "year-month"? Should we also consider other dates? (e.g., year-month-day, just year, or even year-month-day-hour). And, in case we accept more, we should also try to impose a limit on these, or we'll end up with either a long RegEx (In case we squeeze all in one pat

[2019-04-26 11:00] malloryfreeberg commented on #542
Thanks so much, @kbergin !

Is there a more specific description of what the outputs in this file are? Is this the container for all the .zarr! files? Does it hold all the Gene expression data?

[2019-04-26 11:05] malloryfreeberg commented on #542
Changed the suggested new term to "Quality control metrics"

[2019-04-26 14:12] cjvillar commented on #966
Idk, if we should accept more (month/day/year) it would be convenient but the devs might hate us.

[2019-04-26 14:22] #539 closed

[2019-04-26 14:26] malloryfreeberg commented on #955
@samanehsan @rexwangcc @kbergin

I'll take a stab at doing these updates, and I'll request your review/help for the remaining bits :)

[2019-04-26 15:33] daniwelter commented on #966
I don't think we should necessarily use the same pattern for all of the affected fields. Different fields have different requirements and this should be reflected in the regex pattern. The general approach of oneOf applies to all the schemas though. It should even be possible to use more than 2 options with oneOf.

[2019-04-26 16:11] #921 closed

[2019-04-26 16:31] zperova commented on #966
I agree with @daniwelter that we should not limit ourselves to one regex pattern as different fields have different requirements.

[2019-04-26 17:46] malloryfreeberg commented on #966
@ESapenaVentura @cjvillar @daniwelter @zperova

I updated the ticket with possible valid values (either a regex format or a JSON type) for each field. Thoughts?

[2019-04-26 19:38] samanehsan commented on #691
The change `change dissociation_method to method to remove redundancy ("dissociation")` does not have a link so I assume it's in the icebox, but just wanted to note it will affect the secondary analysis subscriptions

[2019-04-26 19:43] malloryfreeberg commented on #691
@samanehsan we did put the `dissociation_method` -> `method` one through: https://github.com/HumanCellAtlas/metadata-schema/pull/808

Apologies for the confusion in the issue. We weren't great about putting a link next to each change.

[2019-04-26 20:25] samanehsan commented on #691
Oh okay! Thanks for the clarification 🙂 We will need to update this field in our queries!

[2019-04-27 13:03] kbergin commented on #955
Adding in Janki, sorry for the delay in response, Mallory. @jkaneria

[2019-04-29 08:21] ESapenaVentura commented on #966
@malloryfreeberg LGTM!

[2019-04-29 08:38] zperova commented on #758
an update - I am working on it now

[2019-04-29 09:01] malloryfreeberg commented on #966
The following pattern is in correct JSON regex format and also allows slashes (/) in dates:

`^((19|20)\\d\\d){1}([- \\./][01]\\d){0,1}([- \\./][0-3]\\d){0,1}$`

[2019-04-29 09:20] #955 closed

[2019-04-29 09:33] hewgreen commented on #542
@kbergin even though these zarr files aren't displayed in our UI, ideally they still need a content descriptor to help API usage and allow other to define in they want to display them or not.

[2019-04-29 09:42] malloryfreeberg commented on #864
@dosumis  - removing you from the list of approved committers to the schema repo. If you would like to be added back, please install git-secrets as per the instructions above and let me know :)

[2019-04-29 09:49] malloryfreeberg commented on #963
@ESapenaVentura @daniwelter @cjvillar @willrockout @pnejad @zperova @hewgreen

Please react to this comment with a
- 👍  if you'd like to _remove_ all question marks from boolean fields
-  👎  if you'd like to _keep_ all questions marks for boolean fields.

Get your votes in by **Tuesday Apr 30**.

[2019-04-29 10:25] malloryfreeberg opened #971 "Add new field file_core.encoding."
**For which schema is a change/update being suggested?**

I would like to request an update to the `file_core.json` schema.

**What should the change/update be?**

I would like to add a new field - `encoding` - to this schema to indicate the encoding of the file.

**What new field(s) need to be changed/added?**

*e.g.*:
* Field name: encoding
* Field description: The encoding of the file.
* Field

[2019-04-29 13:09] #966 closed

[2019-04-29 13:25] ESapenaVentura commented on #971
I'll take it!

[2019-04-29 18:45] kbergin commented on #542
@malloryfreeberg The outputs in the zarr file(s) can really be anything, but in our pipelines case they are QC metrics, count matrices, and expression matrix information. That's why I'm struggling to name it... `Analysis Output Matrix` seems generic enough that it includes all of that? I'm not sure what else to do there. @mckinsel @kkonwar @barkasn do you have any ideas?

[2019-04-29 19:20] diekhans commented on #542
Making the descriptions generic seems counter to making them useful in some type of UI.

What is the problem with making them specific?

[2019-04-29 19:45] kbergin commented on #542
The issue is that this list of files represents a directory of QC metrics, expression matrices, and count matrices that will vary in size and really is one "store" of data. Some of the files are just metadata. perhaps someone I tagged above will have a better idea. Or perhaps we shouldn't try to pick a single metadata name for a directory that could contain anything.

[code]

[2019-04-29 21:29] diekhans commented on #542
I am a bit confused, I though we moving to having the metadata model
a zarr as a directory instead of individual files.

While we haven't decided how to do this in the metadata:

   https://github.com/HumanCellAtlas/metadata-schema/issues/880

The DSS already supports `directories' now (paths with '/'), so
the '!'  substitution is no longer necessary.

So if we are creating a single entity for dir

[2019-04-30 00:38] kbergin commented on #542
I agree, I don’t think we should label each file inside of a directory.
Zarr archive seems reasonable. The zarr outputs are not used with
cellranger, only Optimus and SmartSeq2.

Unfortunately, we haven’t implemented using ‘/‘ yet.

On Mon, Apr 29, 2019 at 5:29 PM Mark Diekhans <notifications@github.com>
wrote:

--
Kylee Degatano
Senior Software Product Manager
Data Generation Pipelines
Data Scien

[2019-04-30 01:38] diekhans commented on #542
Excellent!

The Cell Ranger thing was just an example of the kind of description
I would expect.  The UX people would be a much better source of wisdom.

Kylee Degatano <notifications@github.com> writes:

[2019-04-30 12:04] ESapenaVentura opened #973 "Ensure we capture ATAC-Seq metadata"
Since we are probably getting ATAC-Seq data in the future, we need to be sure that we are able to capture metadata for this experiments.

Understanding metadata requirements:

- [x] Present the technique to the team. There are some notes [here](https://docs.google.com/document/d/1dL8zo3ORjXG-eckR-0Kk4vSZokeODP2PsC3yV3sATVw/edit#heading=h.gjdgxs)
- [x] Gather information from the pipelines team (Me

[2019-04-30 12:11] ESapenaVentura commented on #973
@malloryfreeberg @zperova @daniwelter Everything alright?

[2019-04-30 12:17] malloryfreeberg commented on #973
Looks good!

When you discuss with Nick, it would be good to think of requirements both from the data processing pipelines perspective but also from the tertiary analysis perspective.

[2019-04-30 12:31] malloryfreeberg opened #974 "Support for imaging data"

[2019-05-01 13:46] ESapenaVentura commented on #965
@HumanCellAtlas/wranglers Pinging the wrangling team to make sure everyone knows about this. There is no hurry, but I'd like to work on this ASAP, so I'd like to set a deadline for this friday (03/05) to begin working on this.

[2019-05-01 16:01] ESapenaVentura commented on #963
@malloryfreeberg @NoopDog Since it's already almost May 2, are we going to try to push this change, or are we going to wait until re-ingestion?

[2019-05-01 16:04] malloryfreeberg commented on #963
We can make this change and push to develop, but we will not be promoting anything further than to dev until the end of Q2. This schema change doesn't affect functionality of ingesting/storing/processing data.

[2019-05-01 16:07] ESapenaVentura commented on #963
👍 I'll do it tomorrow morning (Unless anyone wants to do it earlier than that)

[2019-05-02 09:32] ESapenaVentura commented on #963
While working on this, I have noticed that we have several fields that are booleans (We expect a yes or no) but are treated like enums. An example would be in the `module/protocol/target.json`, where the property `multiplexed` is an enum.

I think we should change them to booleans. What do you guys think?

[2019-05-02 09:38] zperova commented on #963
@ESapenaVentura we have a number of cases where value had to be added (such as "unspecified" or "unknown", for example). This is only possible to do with an enum. Changing a type of field is a major change, and would be not the most rational solution to go back in case we need to add extra value.
as for the target.json - this schema should be deprecated.

[2019-05-02 09:38] malloryfreeberg commented on #963
I think this is a good idea to try to standardize our usage. I would say that we should only use boolean when there are absolutely no other possible answers. For example, the `is_living` field is an enum because it can be "yes", "no", or "unknown".

Let's keep this ticket to address the user-friendly field names, and @ESapenaVentura can you make a new ticket to address reviewing and standardizing

[2019-05-02 09:53] ESapenaVentura opened #976 "Standardize use of boolean fields."
**Description**

As a DCP member who works on the schemas, I noticed that there are some fields that are being typed as enums, and they have only 2 possible outcomes: yes or no. Those should be changed to booleans to provide a cohesive style in our schemas. These are:

For `target.json` schema:
- `multiplexed`
For `channel.json` schema:
- `multiplexed`

*e.g.*: As a DCP member who depends on metad

[2019-05-02 09:56] ESapenaVentura commented on #963
Actually, in the 2 schemas that I've found it, it only accepted `yes` or `no`, so it would be a minor change (if it only accepts those 2 values, which are actually boolean values, doesn't break backwards compatibility).

Anyways, what I'm most concerned of is if I should update these values for this ticket. They have the "?" at the end of the friendly name, but they are not "strictly" boolean fiel

[2019-05-03 13:05] malloryfreeberg commented on #965
@ESapenaVentura I've commented what I can right now. Excited to see what you can do in the next iteration!

[2019-05-03 15:54] malloryfreeberg opened #979 "Support for inDrop data"
This Epic will track tickets related to supporting inDrop data.

[2019-05-03 16:02] zperova opened #980 "Fix $ref in imaging_protocol.json schema."
**For which schema is a change/update being suggested?**

I would like to request an update to the `imaging_protocol.json` schema.

**What should the change/update be?**

I would like to fix $ref from target.json (which is a deprecated schema) to the probe.json which replaced target.json.

**Why is the change requested?**

This is a mistake that has been overlooked and did not show up as a problem

[2019-05-03 20:20] malloryfreeberg commented on #979
From @barkasn
There is currently an inDrop dataset in the dss, but there is no information on which version of the inDrop protocol was used. Is there a way to find this out? Also, how do you capture information about the inDrop protocol, and any customizations, in the metadata?

From @malloryfreeberg
Regarding inDrop version information, we don't separately capture version information for any prot

[2019-05-06 11:32] lauraclarke commented on #892
@hewgreen what state is this currently in?

[2019-05-07 13:08] stahiri commented on #868
@zperova - I believe you're the appropriate owner for this task; please reassign if not!

[2019-05-07 14:00] zperova commented on #868
@stahiri I am not. @malloryfreeberg has been looking into it.

[2019-05-07 16:08] malloryfreeberg commented on #868
@stahiri I have confirmed all members of the metadata-updates team are the people who should have write access to this repo. Am I supposed to now remove access from team HCA? Not sure how to do this...

[2019-05-07 16:22] malloryfreeberg commented on #864
@diekhans here is the list of secrets/patterns I installed, based on the google doc linked to in the ticket and adding a couple based on secrets that have accidentally been committed to the wrangler repo previously:

[code]

Feel free to copy/paste these if you haven't already :)

[2019-05-07 19:35] malloryfreeberg commented on #864
@JimKent  - removing you from the list of approved committers to the schema repo. If you would like to be added back, please install git-secrets as per the instructions above and let me know :)

[2019-05-07 19:37] #864 closed

[2019-05-08 15:10] #945 closed

[2019-05-09 16:12] samanehsan opened #983 "Add a field for flow cell id"
**For which schema is a change/update being suggested?**

I would like to request an update to the `sequence_file.json` schema.

**What should the change/update be?** Add a field for flow cell id

**What new field(s) need to be changed/added?**

* Field name: flow_cell_id
* Field description: A random integer.
* Field type: string
* Required: yes
* Examples: ?
* CV or enum: no

**Why is the change

[2019-05-10 09:50] daniwelter commented on #983
@samanehsan Is sequence_file the best place for this field? Or alternatively, does it have to be a required field? What you are effectively requesting is that every sequence file, regardless of sequencing technology, MUST contain this new `flow_cell_id` field or the metadata doc will fail validation. It is my understanding that this field only applies to 10x and not to plate-based technologies suc

[2019-05-10 09:53] lauraclarke commented on #983
Just a quick note, I think we need to be very careful about requiring this field. Anyone who has had their sequencing data done by a 3rd party won't necessarily have access to this information. It would be good to understand what is needed for and if there are appropriate mitigations or "fake numbers" that can be used in case someone doesn't have the information if we do need to require it.

[2019-05-10 10:06] daniwelter commented on #983
@samanehsan @mckinsel we've added this as a discussion topic for Monday's metadata call. It would be good to have you on the call for your input.

[2019-05-10 14:45] samanehsan commented on #983
That's a good point @daniwelter, we would only need this for 10x assays. If that information is not always available, we should try to determine a more reliable way to identify which fastq files came from the same lane.

[2019-05-13 10:03] malloryfreeberg opened #984 "Add fields to capture specimen size and weight"
**For which schema is a change/update being suggested?**

I would like to request an update to the `specimen_from_organism.json` schema.

**What should the change/update be?**

I would like to add 4 new fields - `weight` and `size` and corresponding unit fields - to this schema to allow data contributors to record the weight and size of the specimen (primary tissue sample).

**What new field(s) ne

[2019-05-13 10:57] malloryfreeberg commented on #919
- All the metadata team developers are part of the metadata-updates GitHub team.
- The metadata-updates team has write-access to the metadata-schema repo.
- I don't see that the "HCA" team has write-access to the metadata-schema repo. @stahiri or @sampierson is this enough to confirm that this item is done?

[2019-05-13 11:55] #902 closed

[2019-05-13 13:19] stahiri commented on #919
Yes; looks like this meets all of the requirements. Can you confirm that the metadata-updates team is the only group with write access to the metadata-schema repo?

[2019-05-13 13:33] malloryfreeberg commented on #919
@stahiri thanks! Can confirm:

![Screen Shot 2019-05-13 at 14 32 35](https://user-images.githubusercontent.com/10993501/57625565-05853d00-758c-11e9-8962-f438bc240c97.png)

[2019-05-13 15:39] daniwelter commented on #623
Additional use case raised by @samanehsan: #983

_When multiple sets of fastq files are in a 10x data bundle, the analysis service currently uses the lane_index to determine which R1, R2 and I1 files belong together. However, as @mckinsel brought up in a discussion about analyzing files from the same library prep together, if two sets of files have the same lane index because they were run on diff

[2019-05-13 16:14] ESapenaVentura commented on #976
Edit: Crossed out `target.json` as it is deprecated and was eliminated by @zperova

[2019-05-14 04:48] hannes-ucsc opened #986 "Add `bundle.json` for classification of bundle types"
**What is the proposed name of the new schema?**

I would like to request a new schema called `bundle.json`.

**What field(s) should the new schema contain?**

* Field name: `degree`
   * Field description: The analysis degree of this bundle.
   * Type: int, 0 for primary, 1 for secondary, 2 for tertiary
   * Required: yes
   * Example: `1`
    Values less than 0 should be disallowed.

* Field nam

[2019-05-14 15:47] diekhans commented on #986
The metadata group would like to have a clearer division of functionality between the experimental metadata, whose goal it is to describe experiments, and the DSS, with the goal of storing data.  For instance, we have removed checksums from the experimental metadata.

This functionality sits at the border of the two domains and links them.  Given the goal is to be able to tag bundles, my feeling i

[2019-05-14 19:44] briandoconnor commented on #986
Glad to see this!!  Think about other types of bundles that are used to hand information to orange.  For example, a bundle type to hand pre-generated matrices and/or metadata TSV files to the orange box.  We might also expect additional bundle types used in preparing a release, for example.  Not everything is strictly tertiary analysis coming out of a pipeline.

[2019-05-15 01:52] diekhans commented on #986
@briandoconnor, I believe it is more architecturally appropriate and more generally useful if bundle type information is stored in the bundle manifest, not the experimental metadata.  How data is stored is not a property of the experimental metadata.  Plus it allows the creation of bundles that have nothing to do with the metadata.

[2019-05-15 04:21] hannes-ucsc commented on #986
We should also consider a hybrid where the bundle manifest JSON has a special key called `metadata` that can be set to an arbitrary JSON document. The schema for that could still be controlled and declared in the document.

[2019-05-15 19:19] #957 closed

[2019-05-15 19:25] #980 closed

[2019-05-15 19:26] #742 closed

[2019-05-16 02:20] NoopDog opened #989 "Add user_friendly name to provenance wherever it is used"
Other modules have a user_friendly name where they are used but provenance does not. For example see cell_line.json

No user_friendly:
[code]
has user friendly

[code]

When displaying the field in the types the data portal is looking for a user_friendly name and when it cant find one defaults to the field name which looks funny as its lower case.  Would be nice if we can just always have a user f

[2019-05-16 03:45] diekhans commented on #989
@NoopDog, if you want to make a pull request with suggested descriptions, that would short-circuit this boiling up to the top of someone's queue.

[2019-05-17 08:33] malloryfreeberg commented on #759
For the CITEseq dataset already in the DS (and we are re-ingesting right now), the cell hashtag and antibody-derived tag library preps indicate they are prepping "polyA RNA". I don't think this is correct. Aren't these synthetic oligonucleotide sequences?

If so, we need to find an ontology term that we can use to describe what is being sequence. I don't think an appropriate one exists in [ontolog

[2019-05-17 10:17] malloryfreeberg opened #991 "Update user-friendly name for specimen_from_organism schema"
**For which schema is a change/update being suggested?**

I would like to request an update to the `specimen_from_organism.json` schema.

**What should the change/update be?**

I would like to change the user-friendly name of the specimen from organism schema to "Primary tissue" to more accurately describe that the specimen schema is to be used to describe a primary tissue sample taken directly fr

[2019-05-17 11:40] malloryfreeberg commented on #991
Thoughts @hannes-ucsc @noopdog ?

The idea is to go from this:

<img width="561" alt="Screen Shot 2019-05-17 at 12 35 08" src="https://user-images.githubusercontent.com/10993501/57925542-797f5800-78a0-11e9-849c-14debf1d717f.png">

to more like this:

<img width="561" alt="Screen Shot 2019-05-17 at 12 35 08 copy" src="https://user-images.githubusercontent.com/10993501/57925547-80a66600-78a0-11e9-99

[2019-05-20 17:59] hannes-ucsc commented on #991
Good idea. See https://github.com/DataBiosphere/azul/issues/1026

[2019-05-20 19:24] hannes-ucsc commented on #991
I have to back track from my initial enthusiasm. The column value in the data browser isn't the only place where our users encounter the `specimen_from_organism` misnomer. It manifests itself in the manifest and the full metadata TSV. I worry that this would actually increase the confusion among our users. We introduced the concept of "user friendly" name but does that mean that our schema uses "u

[2019-05-20 20:02] diekhans commented on #991
`display_name` would have been a better name of the field than `user_friendly`.  The current schema entity structure was developed rather quickly and does need review, especially from a consumer point of view.  It will be improved, but not in a `piecemeal` approach.

However, until we get a system in place to migrate entities to new metadata schema versions,  these changes become quite painful, be

[2019-05-20 22:15] hannes-ucsc commented on #991
+1 on `display_name` but having `display_name` be "Primary Tissue" while the entity is called `specimen_from_organism` too far a leap, IMO.

[2019-05-20 22:23] diekhans commented on #991
there is already a ticket on specimen_from_organism being a bad name:
https://github.com/HumanCellAtlas/metadata-schema/issues/389

I don't think you will get any argument about that.  We don't have the tools to make it not painful yet .

[2019-05-20 22:40] diekhans opened #994 "Do a top-down review of metadata entity names and structure."
There appear to be some issues where the metadata entity names and/or structure is confusing and/or is a less than ideal model of the underlying data.  The goal of this ticket is to collect problems that need to be examined and then do a top-down, user-centric review of the metadata as a whole and propose changes if any are deemed important enough.

[2019-05-20 22:43] diekhans commented on #994
Existing tickets:

- [Rename entity specimen_from_organism to body_part #389](https://github.com/HumanCellAtlas/metadata-schema/issues/389)
- [Rename entity donor_organism to donor or individual #386](https://github.com/HumanCellAtlas/metadata-schema/issues/386)

[2019-05-20 22:45] diekhans commented on #991
I created a meta-ticket to collect these kinds of issues for review:

[Do a top-down review of metadata entity names as structure. #994](https://github.com/HumanCellAtlas/metadata-schema/issues/994)

this is already in there, but feel free to complain about similar issues

[2019-05-21 00:08] diekhans opened #995 "Source file as missing for documentation images"
There are no source files for the images in metadata-schema/docs/images/,
making it impossible to modify the images.  It would be good to get them in there before they are lost.

Also, line drawings are better as PNGs.  JPEG is designed for photographs.

[2019-05-21 05:02] hannes-ucsc commented on #991
@malloryfreeberg I think I got a little confused. This is a presentational issue that Azul should not be involved in. Azul will convert from "specimen" to "primary_tissue" when the actual entity is being renamed. That way Azul's service reponse will be consistent with the manifest and metadata TSVs that it generates. I would caution against doing a cosmetic renaming at the presentation layer (i.e.

[2019-05-21 06:04] diekhans commented on #991
@hannes-ucsc, I am confused.  where are you getting the name "specimen" from?  We should always be looking up display names, not translating programming names.  We might need to add something for you look up.

[2019-05-21 09:06] ESapenaVentura commented on #971
I've been thinking about this, and after reading a little bit about mime types, I want to suggest that, instead of an enum, we make this a pattern.

Currently, for what I understood about in the DCP media types documents, the CLI actually reads and differentiates between metadata (json) and data. The kind of data that we are getting are:

- fastq
- fastq.gz
- pdf (For protocols)
- Images

But we c

[2019-05-21 13:38] malloryfreeberg commented on #991
@diekhans @hannes-ucsc Azul/Browser should be getting the display name from the schema using the `title` attribute. E.g.:

[code]

I don't think Azul/Browser are doing this at moment, because instead of "Cell line" I see "cellLine" in the Browser. User-unfriendly names are the programmatic names (e.g. "cell_line").

Azul/Browser should be able to get all display names by introspecting the schema a

[2019-05-21 17:45] hannes-ucsc commented on #991
@diekhans, Azul does not use display names because it is not a GUI. It's a service designed for programmatic consumption and should therefore be consistent with the canonical naming of entities and properties as defined in the schema. We may provide an endpoint that the Data Browser can use to determine the display name mapping for all fields. Because Azul indexes all metadata, it is in a good pos

[2019-05-21 18:05] hannes-ucsc commented on #991
@malloryfreeberg, agreed. In this case would be helpful, though, to distinguish between Azul and the Data Browser. I think Azul should not use the `title` property from the schema other than to back a service endpoint that enables the Data Browser to determine the title of any given entity or property. For example, for a sample that is a cell line, the Azul service response should read `…, {"sampl

[2019-05-23 15:41] diekhans commented on #991
@hannes-ucsc  I though azul was the data browser

what do I know???

yes, if it is a programmatic api it should use the field names as defined.  Until we have schema migration, we need to go slow (just like everything cross box) 👎

[2019-05-24 02:21] lauraclarke opened #997 "Add project-level DOI field"
The project needs a new optional field to store the project DOI. This DOI will be assigned by Biostudies

In future, this may become a required field but right now it is best to start as optional for a number of reasons

* Field name: biostudies_doi
* Field description: A DOI as assigned by the Biostudies database for this project
* Field type: string (not sure if this needs to be string or url)
*

[2019-05-24 03:15] diekhans commented on #997
This is great. The DOIs are versioned, correct?

Laura Clarke <notifications@github.com> writes:

[2019-05-24 03:21] lauraclarke commented on #997
We need to discuss with Biostudies about how they assign DOIs but that is certainly possible.

[2019-05-24 03:23] diekhans commented on #997
Count me in to help with this.  I have made too many mistakes in the past
by losing versions...

Laura Clarke <notifications@github.com> writes:

[2019-05-24 03:32] malloryfreeberg commented on #995
I can put the images in as png. I think those render in markdown, too. And I can put the omnigraffle files in, as well, but I don't know how many people are able to open omnigraffle files.

[2019-05-24 03:35] diekhans commented on #995
yes, PNG works fine with markdown.

Having the source in a priority format is better than not having
it at all. All you to have is a friend that can open
it ;-)  Omnigraffle is really good.

Mallory Freeberg <notifications@github.com> writes:

[2019-05-24 05:48] diekhans commented on #997
Another option is to assign a unique DOI per release version and no DOI on intermediate versions between release. We would fail on FAIR is we had a DOI that applied to multiple versions of a project.

[2019-05-28 09:17] lauraclarke commented on #997
Looking at how both Figshare and Zenodo do DOIs as the group minting DOIs controls everything after the prefix you can have a main DOI which points to the most recent version and then versioned URLs which point to specific versions and this works out fine and is a pragmatic solution to remaining FAIR while enabling tracking of individual versions.

We should remember that most projects will never

[2019-05-28 10:42] diekhans commented on #997
This approach to versioning is idea., Striping off the version
gives you the canonical one is the way most bio-data versions
work.

I don't think this is overthinking; it is simple and straight
forward and doesn't require special cases if a project does
change.

Laura Clarke <notifications@github.com> writes:

[2019-05-28 11:06] lauraclarke commented on #997
Sounds like we are in agreement then.

[2019-05-28 14:13] ambrosejcarr commented on #759
This is correct but potentially inadequately specific. The oligos are indeed poly-adenylated RNA; they are also synthetic oligonucleotides with poly-A tails. The oligos are constructed this way to make them amenable to capture by the same 10x v3 primers used to capture cellular mRNA, and the hybrid library is then co-created and co-sequenced.

[2019-05-28 14:38] zperova commented on #994
This is also related: https://github.com/HumanCellAtlas/metadata-schema/issues/991

[2019-05-28 22:10] hannes-ucsc opened #999 "Change `donor_organism.genus_species` to be required"
Sorry don't have time to fill out the template.

https://schema.dev.data.humancellatlas.org/type/biomaterial/15.3.0/donor_organism

does not list `genus_species` as required but it does `sex`. This does not compute to the amateur biologist in me. Why would the lab know the sex (gender) of a donor but not its species?

[2019-05-28 22:18] rexwangcc commented on #999
FYI, link to the Slack discussion: https://humancellatlas.slack.com/archives/C49TW3RV5/p1559079693046200

[2019-05-29 20:44] diekhans commented on #986
How about having bundle.json completely describe the bundle manifest and any metadata stored in it rather than just the metadata stored in it?

I think this would be a more natural fit with the rest system.

I do support moving forward with this, just want to figure out what it looks like.

[2019-05-30 09:24] malloryfreeberg commented on #986
I would also like to see the bundle manifest information and the information proposed to add in this ticket be located in the same place. An example of a bundle manifest can be found [here](https://api.ingest.dev.data.humancellatlas.org/bundleManifests/5c8fd0f57e0bec000812ebd3).

There isn't a schema for the bundle manifest, but maybe we need one? And we can also include the proposed bundle fields

[2019-05-30 09:53] malloryfreeberg commented on #999
The reason `genus_species` is not required is because `ncbi_taxon_id` is. These two values represent  the same thing. An NCBI taxon ID only ever points to 1 genus species name, and a genus species name is only ever associated with 1 taxon ID. e.g. "homo sapiens" is always 9606 and "mus musculus" is always 10090. We decided to make the `ncbi_taxon_id` field required instead of `genus_species` becau

[2019-05-30 10:08] justincc commented on #986
Those are internal ingest bundle manifests (e.g. they are without schema and will soon likely change considerably with no notice). I would not want to see them externalized without a lot more thought. It strikes me that a bundle.json is cleaner.

[2019-05-30 10:48] justincc commented on #986
Knowing if incoming data is primary or secondary could also be useful to ingest, as currently we can only tell if a bundle is secondary by checking if it references another bundle.

However, I think calling this `bundle.json` may not be good, as incoming data has no notion of a bundle type. How about `type.json` instead abd combining this with the info in `links.json`?

[2019-05-30 10:50] justincc commented on #986
@diekhans Isn't the DSS bundle manifest just a rendition of metadata? (I may be getting confused between different manifests).

[2019-05-30 11:25] malloryfreeberg commented on #986
Having more of a think about this, do these fields make sense to be part of the DSS bundle manifest? (Not to be confused with the internal ingest bundle manifest that @justincc mentioned). An example DSS bundle manifest can be found [here](https://dss.data.humancellatlas.org/v1/bundles/fcadd52b-9824-4271-a478-2b29e3e46c47?version=2019-05-15T202438.811000Z&replica=aws).

I don't think a schema exis

[2019-05-30 11:27] malloryfreeberg commented on #986
Also @hannes-ucsc what is the difference between `degree` and `type`? Aren't all bundles of degree 1 sequence/image, all bundles of degree 2 are alignment/quantification (I think something else too for imaging), all bundles of degree 3 are expression?

I'm also confused about what is meant by scope. Aren't all bundles of scope "project"?

[2019-05-30 12:06] #995 closed

[2019-05-30 13:02] #963 closed

[2019-05-30 13:37] justincc commented on #986
@diekhans The issue with exposing this in the DSS bundle manifest is that the type information still needs to come from somewhere. It could be this is either a) a normal metadata file such as `type.json` which is part of the existing metadata mechanism or b) communicated out of band, e.g. by ingest calling `dss.create_bundle()` with degree, type and scope parameters (this is how the indexed flag g

[2019-05-30 13:44] diekhans commented on #986
The DSS is supposed to be agnostic to the type of metadata stored.  So there would need to be parameters to the DSS create_bundle, along with a method to modify them.  I don't think the DSS should be interpreting the additional bundle attributes, only storing them, indexing, and making available.

[2019-05-30 13:48] justincc commented on #986
But then those attributes won't be subject to the existing metadata validation mechanisms to restrict their allowed values. Not necessarily a problem but something to bear in mind.

[2019-05-30 13:49] malloryfreeberg commented on #542
- Requested 4 new EDAM terms to be added to the ontology.
- Made field optional so that we can at least implement this now without breaking backwards compatibility with data already in the data store.

[2019-05-30 13:55] diekhans commented on #986
This schema is a bit different than the other schemas.  It really isn't part of the experimental metadata. The only reason to have it here is to avoid a different mechanism for just one schema.

Another option would be to not have a schema for this at all.  What one really gets out of the schema is documentation.

[2019-05-30 14:54] malloryfreeberg commented on #868
@stahiri If the metadata-schema repo teams section looks like this:

<img width="750" alt="Screen Shot 2019-05-30 at 15 52 58" src="https://user-images.githubusercontent.com/10993501/58641423-11466280-82f3-11e9-8dd5-02bf1e1212e5.png">

And I have confirmed only the appropriate people are in the metadata-updates team, is this enough to satisfy this ticket? I didn't actually have to remove an "HCA"

[2019-05-30 14:57] justincc commented on #986
Well, one gets validation out of the schema as well. I would like to avoid coding mistakes meaning that invalid values get into the system.

It strikes me that if this does use the schema mechanism, whether `bundle.json`, `type.json` or something else, then the path of least resistance will be to simply put that into the bundle rather than also extract it to expose it in the DSS manifest (which ma

[2019-05-30 15:05] malloryfreeberg commented on #919
Closing as this appears to be done.

[2019-05-30 15:05] #919 closed

[2019-05-30 15:56] stahiri commented on #868
Yes, that satisfies this need. Thank you!

[2019-05-30 17:23] hannes-ucsc commented on #999
Makes sense. All bundles in the HCA currently have `genus_species` so making it required shouldn't break anything.

`ncbi_taxon_id` is on biomaterial core. What about biomaterials other than `donor_organism`? Is there a 1:1 mapping between `ncbi_taxon_id` and ontologized fields in those? If so we could we derive `ncbi_taxon_id` at ingest time and effectively prohibit it from being supplied by wran

[2019-05-30 20:18] hannes-ucsc commented on #986
[code]

is what I was [referring](https://github.com/HumanCellAtlas/metadata-schema/issues/986#issuecomment-492497586) to as "hybrid".

I don't think we should have a schema for the DSS specifics, only the nested `metadata` element.

Both are degree 1 but they are of different types. One is `sequence` the other is `image`.

A bundle that applies to the entire project is a "project" bundle. The mat

[2019-05-30 20:18] hannes-ucsc commented on #986
@malloryfreeberg ^^^

[2019-05-30 21:41] #868 closed

[2019-05-30 21:51] malloryfreeberg opened #1001 "Remove file_description from supplementary_file.json"
**For which schema is a change/update being suggested?**

`type/file/supplementary_file.json`

**What should the change/update be?**

For `supplementary_file.json`:
  - [ ] remove `file_description` which is now redundant with `content_description` (see #542)

This is a major schema change.

**What new field(s) need to be changed/added?**

No new fields.

**Why is the change requested?**

To remov

[2019-05-30 21:55] malloryfreeberg opened #1002 "Support for scATAC-seq data."
This Epic will track tickets related to supporting scATAC-seq data.

[2019-05-31 07:54] diekhans commented on #986
The goal of having bundle type information in the bundle
manifest is that one needs the type information before deciding
to access the bundle.  Doing this with a file in the bundle
defeats this purpose.

If the changes go through the DSS API, it should validate in
some way; schema or otherwise.

It is not clear that this is even a priority, as the ticket
that start this is an **idea**, not marchin

[2019-05-31 09:14] malloryfreeberg commented on #997
So it sounds like we are all in agreement <3 about having a DOI.

I want to clarify that, although this DOI is being assigned by BioStudies, we probably don't need to indicate that in the field name. It also means that if in the future we move to a DOI that isn't supplied by  BioStudies, we won't have to change the field name.

I also want to clarify whether we want the field to capture just the D

[2019-05-31 09:46] malloryfreeberg commented on #994
Let's make this an epic and formally link the tickets. Then we can link this epic to one of the DCP-wide epics for improving user understandability of the metadata (or something similar).

[2019-05-31 10:34] diekhans commented on #997
Absolutely; once a DOI  is assigned, how it is assigned is not relevant!

[2019-05-31 10:54] zperova opened #1003 "Define guidelines/rules for project_short_name to maintain consistency"
**For which schema is a change/update being suggested?**

I would like to request an update to the `project_core.json` schema.

**What should the change/update be?**

I would like to define some guidelines/rules for a project_short_name to maintain consistency when referring to it within DCP.

**Why is the change requested?**

Currently, the project_short_name is:
[code]
This results in project sh

[2019-05-31 10:55] malloryfreeberg commented on #999
Yes, the `ncbi_taxon_id`:`genus_species` mapping is the same regardless of the type of biomaterial.

Absolutely! We have plans to do some of this automatic curation in the future (not sure exactly where it is on the roadmap). Ideally, contributors/wranglers only supply one of taxon ID or genus species, and we automatically map the other fields/ontologies.

Can anyone else on the @HumanCellAtlas/me

[2019-05-31 12:04] malloryfreeberg commented on #951
@stahiri  I don’t really know what needs to be done for the metadata-schema ticket (might need some engineering help), or where it lies in our priorities (@lauraclarke ? @morrisonnorman ? @justincc ?) I can at least bring the ticket into our current sprint.

[2019-05-31 13:57] stahiri commented on #951
So this is admittedly less concerning for metadata-schema, but we (1) want to have the same level of auditing across the DCP and (2) want to be able to log any relevant events so those can be monitored for malicious activity. For example, if a malicious user came in and wanted to be simply mean, they could change the schema or configuration of the project. We would want to be able to look at logs

[2019-05-31 14:29] zperova commented on #951
@stahiri thanks for the explanation. I understand the concern of malicious activity. Could you also clarify what do you mean by "logged and that those logs are being stored somewhere" and how that can be achieved?

[2019-05-31 15:28] malloryfreeberg commented on #951
So talking a bit more with the ingest developers, I think there are two points of auditing/logging we need.

1. **GitHub repository** - the metadata-schema repository is where all the schema changes happen. By nature of being on GitHub, it is sufficient to have the trail of commit statements to log/monitor who is making changes to the metadata?
1. **s3 bucket hosting schemas** - the schemas are pu

[2019-05-31 16:11] malloryfreeberg opened #1004 "Add schema linter to pre-commit git hook"
**Description**

As a DCP member who updates the metadata schemas, I would like the schema linter to run as a pre-commit git hook so that my schema changes are automatically checked against the Style Guide each time I commit.

**Acceptance Criteria**

- [x] schema linter script added to pre-commit git hook

[2019-05-31 22:08] #1004 closed

[2019-05-31 22:10] malloryfreeberg opened #1006 "Switch to using pre-commit package for running linter and doc builder"
**Description**

As a DCP member who makes metadata schemas, I would like to use the
 [`pre-commit`](https://pre-commit.com/) package rather than relying on the git hooks in order to automate running the schema linter. An example could be found [here](https://github.com/HumanCellAtlas/pipeline-tools/blob/master/.pre-commit-config.yaml).

Thanks @rexwangcc !

**Acceptance Criteria**

- [x] schema l

[2019-06-02 17:27] diekhans opened #1007 "analysis_process relicates contents of analysis_file entities"
The analysis_process entity outputs field replicates the contents of the analysis_file entities.
This complicates that schema and goes against the overall design.  This should be converted to references.  Although suggest waiting to do that until the overall schema versioning is in lace.

See #841

<pre>
 "outputs": [
        {
            "describedBy": "https://schema.humancellatlas.org/type/fil

[2019-06-03 08:55] diekhans commented on #1007
This was fixed by #664, however, I was looking at data on older versions of the schema:
   https://schema.humancellatlas.org/type/process/analysis/8.0.3/analysis_process

[2019-06-03 08:55] #1007 closed

[2019-06-03 21:01] rexwangcc commented on #971
Cross-posting some relevant issues from Slack:

^I want to quickly follow up on the above Mice bundles discussion and update everyone that are involved(@Marcus Kinsella@ambrose):

We (secondary-analysis) tried to run a few Optimus workflows on the mice bundles @malloryfreeberg  helped ingested in integration. They all failed due to an error in the Adapter workflow: we have been using `f for f in p

[2019-06-04 09:10] malloryfreeberg opened #1009 "Implement Travis multi-stage build for the schema linter."
**Description**

As a DCP member who updates metadata schemas, I would like all PRs to pass the linting test before any other tests using the Travis multi-stage build.

From @rexwangcc : If the linting test is fast and you want all runs to pass the linting test before any other tests, it might be good to use the Travis multi-stage build. We used it this way [here](https://github.com/HumanCellAtlas

[2019-06-04 09:14] malloryfreeberg commented on #989
@ESapenaVentura could you take this one for this sprint? Specifically, the following comes out of the linter:

[code]

[2019-06-04 09:15] ESapenaVentura commented on #989
Ok! 👍

[2019-06-04 09:51] malloryfreeberg commented on #890
@daniwelter what should be checked for under "Must be valid curies" for the ontologies and classes attributes? I don't know exactly what I should be coding to do this check. If it involves doing some ontology lookup, I might punt to a new GH issue that I'll make for the "Check that each listed class is present in HCA OLS instance" points.

[2019-06-04 10:00] ESapenaVentura commented on #971
Continuing with the cross-posting updates from slack and some personal thoughts:

In order to be able to differentiate between file types, we shouldn't be trusting the metadata. Let's not forget that this is introduced manually, right now by the wrangler team but, in the future, this will be entirely contributor-based. Even though Fastq is a pretty common file format, we cannot expect that it will

[2019-06-04 10:12] daniwelter commented on #890
I'm happy to take the ontology section and implement the OLS lookups. I'm pretty sure I have code for that sitting around somewhere that I can recycle.

[2019-06-04 10:14] malloryfreeberg commented on #890
Cool. Let me finish up what I can here, and then I can hand off to you? We can merge what I've done so far now to get some of the pesky messages taken care of. Then make a new ticket for the ontology work. I'm just about done with the rest of the things here.

[2019-06-04 10:49] malloryfreeberg opened #1012 "Add remaining ontology-related schema Style Guide checks to schema linter"
**Description**

As a metadata team member (committer) who makes changes to the metadata schemas, I would like to be sure my schema changes adhere to the Style Guide by running the schema linter.

Features are from this [doc](https://docs.google.com/document/d/1pg-YCBE9YGAEVVZQN6p3nKMghdjiUSd8i4mlnRheoUs/edit#).

**Acceptance Criteria**

Ontology-specific checks to be added to the linter:

- [x] E

[2019-06-04 10:50] malloryfreeberg commented on #890
@daniwelter I moved ontology-related checks to issue https://github.com/HumanCellAtlas/metadata-schema/issues/1012

[2019-06-04 11:32] malloryfreeberg commented on #989
@NoopDog this should bubble up to master/prod in a few weeks.

[2019-06-04 11:32] #989 closed

[2019-06-04 11:35] malloryfreeberg commented on #997
@lauraclarke where could I lookup what Biostudies-minted DOIs look like? I don't actually see any DOIs in Biostudies entries, so I don't know what an example might look like.

[2019-06-04 16:24] ESapenaVentura commented on #959
Done!

[2019-06-04 16:24] #959 closed

[2019-06-04 16:28] #890 closed

[2019-06-04 16:29] malloryfreeberg commented on #1009
@ESapenaVentura can you also point estimate this before you start to work on it :)

[2019-06-05 10:34] ESapenaVentura commented on #1006
I'll take care of this!

[2019-06-05 10:37] #1009 closed

[2019-06-06 14:32] lauraclarke commented on #997
Sorry for not responding sooner but the reason I proposed BioStudies DOI was because this field would be specifically used for DOIs assigned by BioStudies. If HCA starts assigning their own DOIs then another field would be used just as another field is used for publication DOIs.

Can someone explain why a straight DOI field is better when there can be multiple sources of DOIs which resolve to mult

[2019-06-06 20:23] stahiri commented on #951
Hi @malloryfreeberg --- yes, commit statements and cloudwatch logs will likely satisfy these requirements. I understand that cloudwatch is configurable, so we'll just want to ensure that it's capturing the applicable logs noted in the ticket description.

Any luck on identifying an owner for this task? Could this also be assigned a milestone (I'm guessing Sprint 3 is the appropriate one)?

[2019-06-07 09:06] ESapenaVentura opened #1022 "Travis build to check if release_prepare script has been run when pushing to develop."
**Description**

As a member of the HCA data wrangling team, I would like to add an optional step in the travis build that checks if `prepare_release.py` script has been run before pushing from a branch into develop. This will help avoid some human error when pushing schema changes.

**This is not a replacement of the script. The script will still have to be manually run, this is just an extra aut

[2019-06-07 09:11] ESapenaVentura commented on #1022
@HumanCellAtlas/wranglers @daniwelter Do you think this is a good idea? Might avoid some overlooks  that could happen (Not looking at myself at all 👀 )

[2019-06-07 09:22] daniwelter commented on #1022
I know where you're coming from with this but I'm not sure this is a very practical idea. The update log file may be empty for a number of reasons, including a failed release prepare script. If you're going to do this work anyway, I would look at a more fully fledged solution.

[2019-06-07 10:00] malloryfreeberg commented on #951
@stahiri thanks for the clarification!

We haven't yet discussed ownership. There's been a lot of people on holiday recently. We will put this ticket in our next sprint (11-25 June) and we will aim for it to be addressed by the end of the sprint.

pinging @morrisonnorman @lauraclarke @justincc

[2019-06-07 10:03] malloryfreeberg commented on #1022
I can think of the following checks related to making sure someone ran the `release_prepare.py` script:
1. If a schema has been updated, then versions.json should be updated
1. If a schema has been updated, then changelog.md has been updated
1. If a schema has been updated, then update_log.csv should be empty

There could also be a check added to the `release_prepare.py` script itself that it exit

[2019-06-07 10:10] #866 closed

[2019-06-07 10:11] lauraclarke commented on #951
@stahiri @diekhans our metadata tech-lead is happy to also take on security responsibility

[2019-06-07 10:13] malloryfreeberg commented on #1022
Some of this work overlaps https://github.com/HumanCellAtlas/metadata-schema/issues/948

[2019-06-07 11:51] #1012 closed

[2019-06-07 15:13] ESapenaVentura commented on #315
Is this issue still a thing, or should we close it?

[2019-06-07 15:17] malloryfreeberg commented on #315
We still need to do this. The implementation is unclear.

[2019-06-10 10:54] malloryfreeberg commented on #997
In the case of the publication DOI, the reason that it is a separate field is that the DOI is pointing to a separate entity (pointing to a publication, not the dataset in the HCA).

We don't need to worry about clashes of field names because the fully qualified field name for a publication doi is `project.publication.doi` and the proposed field here would be `project.doi`.

For published protocols

[2019-06-10 11:29] ESapenaVentura commented on #997
I think you're referring to `protocol.protocol_core.protocols_io_doi`

[2019-06-10 12:21] zperova commented on #997
@lauraclarke Do we know when will Biostudies start assigning DOIs or who can provide some insight on that?

[2019-06-10 12:42] #542 closed

[2019-06-10 12:57] malloryfreeberg commented on #542
@NoopDog @hannes-ucsc The new `content_description` field went in to our develop branch today (https://github.com/HumanCellAtlas/metadata-schema/pull/752). Although none of the current datasets in the DCP will have this field, once we have AUDR we could potentially update those datasets and also use this field for future datasets coming into the DCP. Hopefully having this field means that file con

[2019-06-10 14:21] ESapenaVentura opened #1024 "Bug in schema linter"
**Give the bug a title**

`schema_linter.py` throws a KeyError if  no "DescribedBy" property is found inside a schema.

**To reproduce**

Steps to reproduce the behavior:
1. Go to any of schemas (e.g., `biomaterial_core`)
1. Change name of property `describedBy` with any other thing
1. Run `src/schema_linter.py`

**Schema versions**

This is a problem with the linter.

**Observed behavior**

The s

[2019-06-10 14:29] malloryfreeberg commented on #997
Copying @lauraclarke 's comment from the PR:

https://github.com/HumanCellAtlas/metadata-schema/pull/1013#issuecomment-500436431

So I would leave this ticket on hold for now as there is an open question if Biostudies is the right solution for DOI assignment being discussed between @morrisonnorman @theathorn and @briandoconnor. I suspect some UX research will be needed before an answer is reached.

[2019-06-10 14:39] ESapenaVentura opened #1025 "Fix travis notifications and pre-commit hooks"
**Description**

As a DCP member that commits into this repository, I would like to add changes to `.travis.yml`, `src/add_docs.sh` and `.pre-commit-config.yaml`, in order to fix some bugs found.

**Acceptance Criteria**

- [ ] `.travis.yml`: Change current document to have this at the end:
[code]
- [ ] `src/add_docs.sh`: Call `src/human_readable_json.py` from inside the executable
- [ ] `src/add_

[2019-06-10 15:46] malloryfreeberg commented on #997
From @diekhans

achieved by registrant being the prefix of the DOI.  Specifying
the registrant in the field name is redundant.

of where it resolves.

of record containing the DOI.  A publication doi should be in a
record about publications.  There is no need for redundant within
the field name.

[2019-06-11 08:27] ESapenaVentura commented on #1024
I'll proceed to make the PR if there is no objection!

[2019-06-11 08:28] ESapenaVentura commented on #1025
I'll proceed with the PR if there are no objections!

[2019-06-11 08:51] malloryfreeberg commented on #1025
If it's in line with this sprint's priorities and there aren't more urgent things to do, then go ahead.

[2019-06-11 08:51] malloryfreeberg commented on #1024
If it's in line with this sprint's priorities and there aren't more urgent things to do, then go ahead.

[2019-06-11 10:06] malloryfreeberg commented on #812
Zarr, Mtx, and Loom file formats have been requested: https://github.com/HumanCellAtlas/ontology/issues/35

[2019-06-11 10:30] malloryfreeberg opened #1027 "Improve metadata standard"
This Epic will track updates to the metadata standard (schema).

Updates could be in response to data contributors (e.g. adding a new field), data consumers (e.g. standardizing a field using an ontology), or to generally improve the standard (e.g. replacing an enum with an ontology, adding examples and guidelines to fields).

Some tickets in this Epic might also be linked to specific Epics like "S

[2019-06-11 11:59] malloryfreeberg commented on #228
I have not heard that this is required anymore from the pipelines team. As of now, log files are output just like other analysis files, and there are no additional metadata fields needed to describe log files. If this ever changes in the future, a new ticket can be opened.

[2019-06-11 11:59] #228 closed

[2019-06-11 12:04] malloryfreeberg commented on #341
Closing this ticket.

For some organs (e.g. lung), there are separate ontology terms for structures from the left lung or right lung. If there are instances where the ontology used to describe organs and organ parts is lacking information about "left" or "right", we should strive to improve the ontology instead of adding a left/right field explicitly to the schema.

[2019-06-11 12:04] #341 closed

[2019-06-11 12:13] malloryfreeberg opened #1029 "Capturing multiple sets of process metadata on 1 process entity"
@malloryfreeberg commented on [Mon Apr 08 2019](https://github.com/HumanCellAtlas/hca-data-wrangling/issues/166)

**Dataset/group this task is for:**

**Description of the task:**

Process metadata needs to be entered in the biomaterial and file tabs of the metadata spreadsheet corresponding to the biomaterial/file that the process generated. There is always a single process entity between every b

[2019-06-11 14:23] malloryfreeberg commented on #812
@ESapenaVentura The first action in this ticket is done. We can also do the second action here (make the new file format ontology schema), although we can't change the `file.file_core.format` from a string to an ontology object, yet. Can you take the second task, here? To make the new ontology schema.

[2019-06-11 14:26] ESapenaVentura commented on #812
Yes, of course!

[2019-06-12 06:52] NoopDog commented on #542
Thanks @malloryfreeberg yes would love to see this as required and filled with data in a post AUDR world.  I appreciate your efforts on this.  D

[2019-06-12 07:31] hannes-ucsc commented on #542
It's easier to relax a restriction in the future than to tighten it. Unless we already know that submitters may not be able to provide a value for this field, we should make the field required.

[2019-06-12 09:02] ESapenaVentura opened #1031 "Add description check in linter for proper sentences in schema description."
**Description**

As a DCP member who works on the metadata schemas and its proper formatting, I would like to add changes in the `schema_linter` script so that it detects schema descriptions that are not well written (e.g, sentence not ending with full stop).

**Acceptance Criteria**

- [ ] Add a couple of lines of code to the schema-level checks so that it can identify this issue and throw a warn

[2019-06-12 09:12] malloryfreeberg commented on #542
@NoopDog @hannes-ucsc I agree with both of you that ultimately (sooner rather than later) this field should be required.

There are some unknowns right now about 1) how long it will take to get AUDR in place to update the current datasets, 2) how long it will take to get metadata integration testing set up such that we can test a major update of adding a required field to the schema, 3) how long w

[2019-06-12 09:23] malloryfreeberg commented on #1031
Can follow the same approach as checking that field description end in a full stop: https://github.com/HumanCellAtlas/metadata-schema/blob/8752b706ac3c96a9a62b4f4d340c20845ebfebc4/src/schema_linter.py#L164-L166

[2019-06-12 09:49] hannes-ucsc commented on #542
That and ideally add the field to the DCP integration test spreadsheets

[2019-06-12 10:02] malloryfreeberg opened #1032 "Metadata developers should install pre-commit package"
**Description**

Anyone who contributes to developing the metadata schema should install the pre-commit hook package ([Webpage](https://pre-commit.com/), can install with pip) on their local repo so the pre-commit hook runs.

**Acceptance Criteria**

Metadata developers have confirmed they have the pre-commit package installed
- [x] @daniwelter
- [x] @malloryfreeberg
- [x] @ESapenaVentura
- [x] @z

[2019-06-12 10:03] malloryfreeberg commented on #1032
Example installation:
[code]

Need to be in the top directory of your local metadata-schema repo.

[2019-06-12 10:15] malloryfreeberg opened #1033 "Update integration test spreadsheets with new optional fields"
**Description**

As a DCP member who depends on metadata schemas, I would like the integration test spreadsheets to be up-to-date with the current schema such that all (reasonably) fields are tested.

**Acceptance Criteria**

- [x] SS2 integration test spreadsheet is updated with new fields.
- [x] Optimus integration test spreadsheet is updated with new fields.

[2019-06-12 10:19] zperova commented on #1032
running `pip install pre-commit`will gives the following output:
```[ERROR] Cowardly refusing to install hooks with `core.hooksPath` set.
hint: `git config --unset-all core.hooksPath```
works after running the hint.

[2019-06-12 10:30] ESapenaVentura opened #1035 "Add full stop to description in schemas."
**For which schema is a change/update being suggested?**

I would like to request some patch changes for the schema descriptions in several schema modules. While updating the schema linter, I realized that the descriptions lack a full stop at the end.

**What should the change/update be?**

I would like to add a full stop at the end of the schema description of the following ontology schemas:

- `

[2019-06-12 10:39] malloryfreeberg commented on #1035
There are a few other schemas that don't have sentences for the schema description:
[code]

[2019-06-12 10:41] #1031 closed

[2019-06-12 10:47] malloryfreeberg commented on #1035
@ESapenaVentura can you link this to the Epic about Improving the [metadata standard](https://github.com/HumanCellAtlas/metadata-schema/issues/1027)

[2019-06-12 10:49] ESapenaVentura commented on #1035
Added the schemas you mentioned! Also, going to link it!

[2019-06-12 10:56] #1025 closed

[2019-06-12 12:36] daniwelter opened #1037 "file_content_ontology classes IDs should be lower cas"
Identifiers in the EDAM ontology are lower case, so class IDs in the `classes` restriction and examples should all be lower case. See https://ontology.dev.data.humancellatlas.org/ontologies/edam/terms?iri=http%3A%2F%2Fedamontology.org%2Fdata_0006 for examples

[2019-06-12 13:55] #1006 closed

[2019-06-12 14:05] daniwelter commented on #1032
@zperova make sure you're also in the develop branch and your branch is up to date.

[2019-06-14 09:06] #1024 closed

[2019-06-14 09:36] #1033 closed

[2019-06-24 12:07] diekhans opened #1042 "Metadata design principles doesn't discuss graph being the experiment design"
[Overview of Metadata Structure](https://prod.data.humancellatlas.org/metadata/design-principles/structure) doesn't discuss graph being the experiment design.  This has lead to assumptions that the graph is fixed and a failure to appreciate the reasons for the graph.

[2019-06-24 12:12] diekhans opened #1043 "User documentation links to an internal google document"
[Overview of Metadata Structure](https://prod.data.humancellatlas.org/metadata/design-principles/structure) links to a google document [HCA Metadata schema structure specification
](https://docs.google.com/document/d/1pxQj7BfM8HHgD4ilm4dlvZuZATfJkNC5s_-TUoA4lYA/edit?ts=59b16455).

This is inconsistent formating with the other documentation and is not hyperlinked.  It starts with the warning (in re

[2019-06-25 09:02] aaclan-ebi opened #1044 "Remove comment in provenance.document_id field"
**For which schema is a change/update being suggested?**

I would like to request to update the comment in provenance.document_id field.

old value: "This structure supports the current ingest API. It may change in the future."
new value: "This structure supports the current ingest API."

https://github.com/HumanCellAtlas/metadata-schema/blob/e9acc562153d3e9941b91cea67f7828d1497ceef/json_schema/sy

[2019-06-26 14:28] malloryfreeberg opened #1047 "Change HDBR_accesssion to all lowercase to adhere to Style Guide."
**For which schema is a change/update being suggested?**

I would like to request an update to the `biomaterial_core.json` schema.

**What should the change/update be?**

I would like to change the `HDBR_accession` field to `hdbr_accession` to adhere to the schema style guide.

**What new field(s) need to be changed/added?**

No new fields.

**Why is the change requested?**

To adhere to Style Gui

[2019-06-26 14:36] malloryfreeberg commented on #1027
@lauraclarke

The following tickets linked to this Epic constitute major schema changes:

Icebox:
#367
#382
#386
#389

Product backlog:
#1001
#1047
#883
#884
#900
#976
#999

Sprint backlog:
#812 (last bullet point - should probably go back into the product backlog)

[2019-06-26 19:32] lauraclarke opened #1048 "Improving the Required Fields document"
# Improving the Required Fields document

**Docs Improvement**

This ticket requests some improvements to the [required fields markdown file](https://github.com/HumanCellAtlas/metadata-schema/blob/master/docs/jsonBrowser/required_fields.md) which is found here and as I understand it, autogenerated at build time

I would like the file to distinguish between fields the submitter must supply and fiel

[2019-06-27 08:12] malloryfreeberg commented on #1048
For the first acceptance criteria, the only required field that is not supplied by submitters (unless they are programmatic submitters) is `schema_type`. This field is required for all schemas, but the accepted value is different depending on the schema type (e.g. "project", "biomaterial"). We could put in a note every place it exists in the documentation that unless you are submitting programmati

[2019-06-27 12:42] ESapenaVentura opened #1049 "Create security updates SOP."
**Description**

As a DCP member who commits to this repository, I would like to add a document that addresses how to react when snyk detects a vulnerability in the dependencies and opens a PR to fix it.

**Acceptance Criteria**

- [ ] A document in the docs/ folder that describes the procedure to follow when faced to an automatic security PR made by snyk.

[2019-06-28 06:15] #951 closed

[2019-06-28 06:15] diekhans commented on #951
As the metadata schema has no system run time component, these security issues don't apply.

[2019-06-28 09:25] daniwelter opened #1053 "Remove EFO from ontologies list for disease ontology module"
We no longer use EFO for disease terms at all, only MONDO. EFO should therefore not be in the list of acceptable ontologies for the disease ontology module.

[2019-06-28 09:30] daniwelter opened #1054 "Split development_stage_ontology into mouse and human stages"
**What is the proposed name of the new schema?**

human_development_stage_ontology
mouse_development_stage_ontology

**What field(s) should the new schema contain?**

Same fields as current development_stage_ontology module but with appropriate class restrictions for mouse and human, respectively.

**Why is the new schema needed?**

We currently have a single development stage field in donor_organ

[2019-07-02 01:58] rexwangcc commented on #922
where is the separate repo? Could you provide a pointer here 😺

[2019-07-02 10:48] malloryfreeberg opened #1057 "Update release SOP with instructions for when to do dev -> int release"
**Description**

As a member of the metadata schema update team, I would like have instructions on when to do a develop -> integration schema release so that I am sure schema changes get incorporated into the release cycle as early as possible.

**Acceptance Criteria**

- [x] An added section in the release_process.md describing when to do a dev -> integration release.

[2019-07-02 14:42] mshadbolt commented on #1057
Merged PR and deleted branch so closing ticket.

[2019-07-02 14:42] #1057 closed

[2019-07-02 15:09] malloryfreeberg commented on #812
Re-opening as one of the items is not done. This ticket was automatically closed by another PR being merged into master.

[2019-07-02 15:22] ESapenaVentura commented on #812
I'll take care of the last item in the list so we can move on!

[2019-07-03 14:30] ESapenaVentura opened #1059 "Make project_role ontology field an enum"
**For which schema is a change/update being suggested?**

# ON HOLD UNTIL METADATA FREEZE ENDS
**What should the change/update be?**
Change `project_role` field in `contributor` module from object to array of objects.

**What new field(s) need to be changed/added?**

For `contact` module:
* `project_role` current type: Object (pointing to ontology module)
* `project_role` wanted type: enum (Accept

[2019-07-03 14:33] ESapenaVentura commented on #1059
Thinking about it, it might not be a major change. You're turning it into an array, so there is backwards compatibility, right?

[2019-07-03 14:34] lauraclarke commented on #1059
It would be good to understand the specific use case where one contributor has more than one role

As the field is changing type I think that defacto means this is a major change

[2019-07-03 14:41] malloryfreeberg commented on #1059
It is a major change because the JSON will go from:

[code]
to
[code]
which is not backwards compatible.

[2019-07-03 14:44] diekhans commented on #1059
Shouldn't this field be named roles if it is a vector?

[2019-07-03 14:48] malloryfreeberg commented on #1059
Field names are plural if they are JSON arrays. Currently, the field is an object (points to the ontology module) and therefore singular. If we do change the field to be an array of objects, then yes, according to the Style Guide, the field name should be changed to be plural, as well.

[2019-07-03 15:14] ESapenaVentura commented on #1059
Then, we leave it blocked until further notice.

(By the way, good catch with the plural, didn't think about it)

[2019-07-03 15:17] ESapenaVentura commented on #1059
@lauraclarke The specific use case is for nilsson's dataset inside the [HDCA sweden pilot project](https://github.com/HumanCellAtlas/hca-data-wrangling/blob/master/projects/in_progress_projects/HDCA_pilot_Sweden.md), where one of the contributors asked for more than one position for the dataset (Experimental scientist and administrator). @zperova is the primary wrangler, so she probably has more i

[2019-07-05 09:52] zperova commented on #1059
@lauraclarke I also had correspondence with Linnarsson lab with comments that these roles do not capture in full what the people do for the project as "these days 4 out of 5 scientists are both computational and experimental"

[2019-07-08 14:08] daniwelter commented on #1053
Closing as this was incorrectly filed - the PATO term for normal is part of the HCA-EFO slim so use of EFO here is correct

[2019-07-08 14:08] #1053 closed

[2019-07-08 15:22] malloryfreeberg commented on #1042
This ticket is a request to add an explanation that the graph encodes the experimental design to the Structure doc.

[2019-07-08 15:25] malloryfreeberg commented on #1043
Consider removing this link or determine whether some other document should be linked to.

[2019-07-08 16:41] daniwelter commented on #826
Removing myself from this ticket as there is a new vignettes & tutorials plan that came out of the last DCP meeting.

[2019-07-10 23:22] diekhans opened #1065 "analysis links.json has duplicated process entries"
in bundlke 575a1f21-d648-488f-9c41-51a2ad5f11d2

links.json has process entries that are duplicated
[links.json.gz](https://github.com/HumanCellAtlas/metadata-schema/files/3379697/links.json.gz)

[2019-07-11 08:41] malloryfreeberg commented on #1065
@diekhans I don't think this is a bug in the metadata schema. The duplicated processes likely comes from the ingest exporter which builds the links.json as part of the submission of processing results for a secondary (analysis) bundle. This ticket is probably better suited in the ingest-central repo.

There's also a possibility that the duplicated processes is coming from the data processing pipel

[2019-07-11 09:15] #1037 closed

[2019-07-11 09:20] malloryfreeberg commented on #892
Updating this ticket with the current Library preparation RFC doc: [Google doc](https://docs.google.com/document/d/1PdJAd4q775jwnDoavJE_7XajXm0e7a5SGvP2k7DRJHc/edit?pli=1#)

Has been presented internally. Am reaching out to specific individuals in the DCP for targeted feedback.

[2019-07-11 09:21] malloryfreeberg commented on #965
@ESapenaVentura are you working on this in the current spring? If not, can you put this ticket back in the product backlog?

[2019-07-11 09:30] daniwelter commented on #1059
Can I just point out that enums and ontology fields are mutually exclusive? I think based on the comments above, we just want to make this field an array of ontology terms. Could someone please update the title and primary issue description to clarify?

[2019-07-11 09:40] daniwelter commented on #999
Can I request that if genus_species is made required for donor_organism, it be made required for all biomaterials? The field is technically a core field and only lives at type level because it imports an ontology module and we have a policy that no references should be imported at the core level.

[2019-07-11 09:57] ESapenaVentura commented on #965
Moved it to product backlog! I'm currently more focused on e-mails and wrangling. Will come back with this when I talk with Simon (prob next sprint)

[2019-07-11 10:08] rolando-ebi commented on #1065
@diekhans @malloryfreeberg there is a legitimate bug in the ingest export process here. When crawling the experiment graph, links are stored in a list rather than a set so it's possible for a link to be added twice. Could also be solved by keeping track of visited/unvisited nodes. I'm tracking this in a new issue here: https://app.zenhub.com/workspaces/dcp-5ac7bcf9465cb172b77760d9/issues/humancell

[2019-07-11 10:10] malloryfreeberg commented on #1065
Thanks @rolando-ebi ! Closing this issue here.

[2019-07-11 10:10] #1065 closed

[2019-07-16 15:21] maniarathi opened #1067 "Implement algorithm to determine delta between two schemas"
Given two versions of a schema of the same type, determine the delta between the two. This work will enable creating dynamic integration (DCP-wide)tests that will test the compatibility of these changes with the entirety of the DCP.

[2019-07-16 16:04] malloryfreeberg commented on #892
RFC is now in GH [here](https://github.com/HumanCellAtlas/dcp-community/blob/mfreeberg-rfc-library-preparation/rfcs/text/0000-rfc-library-preparation.md).

[2019-07-16 16:04] malloryfreeberg commented on #892
Closing this issue as the acceptance criteria have been met.

[2019-07-16 16:04] #892 closed

[2019-07-16 16:16] maniarathi opened #1068 "Make the newly populated schema_*_version fields REQUIRED"
After the `schema_major_version` and `schema_minor_version` fields are populated by Ingest and before subscriptions start making use of the fields, make the fields REQUIRED. This will ensure that all data will be accessible by the downstream components; otherwise data will be missed as we start establishing that downstream components must designate which schema versions that are compatible with.

[2019-07-18 20:02] stahiri commented on #869
Snyk has been implemented across the humancellatlas GitHub org

[2019-07-18 20:02] #869 closed

[2019-07-19 15:17] mweiden commented on #922
To my understanding, the metadata-schema is served directly by a CDN, so this may not be relevant. Closing.

[2019-07-19 15:17] #922 closed

[2019-07-20 15:03] diekhans commented on #260
We believe file integrity is the responsibility of the DDS.  The checksum field has been removed from the experiment metadata.   Checksums are available in the bundle manifest.  If would be good to have DSS API endpoints that can take a file fqid or uuid and return the informattion.

@kozbo if you agree, please close this ticket.

[2019-07-20 23:53] kislyuk commented on #260
File size is returned by DSS both in the `GET bundle` response (as part of the bundle manifest entry for each file) and in the `GET file` response (in the `X-DSS-SIZE` header). The full instructions for retrieving the file checksums and sizes are available in the Swagger API specification on https://dss.dev.data.humancellatlas.org/.

[2019-07-20 23:56] diekhans commented on #260
This is the responsibility of DSS; closing.

[2019-07-20 23:56] #260 closed

[2019-07-24 20:06] maniarathi opened #1076 "Add two optional fields to metadata schemas"
In order to enable rapid integration of data adhering to changed metadata schemas and in accordance with the design detailed here, https://docs.google.com/document/d/1BInKossmrlpna5MV_s4MSR0Bll1wnD-3OVw-9nCLdWg/edit?ts=5d389d03#, create two additional fields in the metadata schemas:

"schema_major_version": {
      "description": "The major version number of the schema.",
      "type": "integer",

[2019-07-25 13:33] #1035 closed

[2019-07-25 13:46] #1049 closed

[2019-07-25 14:14] stahiri opened #1081 "Baseline vulnerability remediation - Critical/High findings"
It is imperative that we remediate existing vulnerabilities to set a baseline for our system, after which point we will require that vulnerabilities be remediated within a specific timeframe based on severity.

Each repo should remediate all high and medium vulnerabilities that have been reported by Snyk, GitHub/Dependabot, and other sources, as relevant as of today (July 25, 2019). **We request t

[2019-07-25 14:31] #859 closed

[2019-07-25 22:17] willrockout commented on #1076
Changes have been merged. Closing this issue.

[2019-07-25 22:17] #1076 closed

[2019-07-26 21:01] samanehsan commented on #1059
This rename/type change will require changes to the metadata-api library as well: https://github.com/HumanCellAtlas/metadata-api/blob/5106533b0b0216bc1b8b45b8da69d8ee09fde3bf/src/humancellatlas/data/metadata/api.py#L148

[2019-07-26 21:24] samanehsan commented on #812
We use the file_core schema when submitting analysis file metadata to ingest 🙂 Here are file types we submit that have not been mentioned yet:
- .results
- .csv.gz
- .npy
- .npz

For reference, here are the analysis files that we submit for our two production workflows:
Optimus:  https://api.ingest.data.humancellatlas.org/submissionEnvelopes/5d3b0c869be88c0008a9d714/files
SS2: https://api.ingest.d

[2019-07-29 11:53] ESapenaVentura commented on #812
@samanehsan, can you please give a brief summary of what those file formats are made of (e.g., are they text matrices, binary objects) for the `.results`, `.npy` and `.npz`? Are they standard extension for files, or is it a custom extension to identify the results in our system?

About the `csv.gz` file, there was an ongoing discussion about the encoding of the file and how to represent gzipped fi

[2019-07-30 18:06] maniarathi opened #1151 "Discuss viability of overall metadata schema versioning"
The current proposed design of being able to query DSS for bundles using a particular metadata schema version requires that subscriptions specify a set of versions per schema that they are dependent on. Here we'd like to discuss the viability of having an overall schema set version that represents the state of the entire set of schemas over time such that a downstream component would be able to qu

[2019-07-31 10:53] ESapenaVentura commented on #1067
Could you please elaborate on this request? Do you want all changes to be captured, or only major changes?

Would it need to capture all changes (1.0.0 --> 1.0.1 --> 2.0.0 --> 2.0.1) or will it be ok just capturing the overall changes (1.0.0 --> 2.0.1)? There might be more than one change for a property, so this should be taken in account.

I'm more than happy to help for a script/function in the

[2019-07-31 19:20] samanehsan commented on #812
Any @HumanCellAtlas/pipelines-computational-biologists familiar with this?

[2019-07-31 21:23] mckinsel commented on #812
The relevant `.results` files are described [here](http://deweylab.biostat.wisc.edu/rsem/rsem-calculate-expression.html#output). But, they're just TSVs created by RSEM.

[2019-08-01 13:38] maniarathi commented on #1067
Sure! I don't have the exact requirements yet but I'm intending to have as input: 1) the schema, 2) the old version, and 3) the new version. The delta would capture the overall changes between the specified versions.

This is still lower priority for me for now... intending to work on it perhaps starting late next week but can chat earlier if you're interested!

[2019-08-02 15:12] mccalluc opened #1090 "Version number pattern is too loose"
**To reproduce**

1. Look at [biomaterial_core.json](https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/core/biomaterial/biomaterial_core.json#L21)
1. `[0-9]{1,}.[0-9]{1,}.[0-9]{1,}` is better written as `\d+\.\d+\.\d+`: Most critically, `.` is a wildcard: `\.` is needed.

**Schema versions**

All?

**Observed behavior**

As written, `1X2X3` or `1*2*3` would also match.

**E

[2019-08-07 20:55] rhiananthony opened #1091 "Include Code Coverage Metrics"
This work has shifted to Q4 as NICE TO HAVE work and, as such, may or may not be completed during Q4. It is an objective in the ~Q3~ Q4 epic [Improving Deployment Process for Infrastructure](https://app.zenhub.com/workspaces/dcp-5ac7bcf9465cb172b77760d9/issues/humancellatlas/dcp/420)

## Definition of success
We have 85% code coverage for our unit and integration tests.

*Please note that there is

[2019-08-08 02:07] diekhans opened #1092 "automatically validate that patch version changes conform to SOP"
A patch version change should only be to documentation fields and not impact code.

Patch changes that impact code could have adverse impacts.

At to appropriate code.

[2019-08-08 02:52] diekhans opened #1093 "programs in metadata-schema/src don't follow UNIX error handling standards"
The programs in the metadata schema output errors and warnings to stdout rather than stderr as required for well behaved UNIX programs.

Also, OptionParser (now deprecated) has a useful function error() that makes it even easier to report user-detect command-line errors.

If I could assign a priority, it would be as low as it can get, just a note for the future.

[2019-08-08 12:40] ESapenaVentura opened #1094 "Update enrichment_protocol schema"
**For which schema is a change/update being suggested?**

`enrichment_protocol` module

**What should the change/update be?**

Change the property type "markers" from "string" to "enum" of strings.

**What new field(s) need to be changed/added?**
- `markers`

**Why is the change requested?**

Right now, it is considered as a space-delimited list. I suggest this change to be consistent with the sch

[2019-08-13 18:25] rhiananthony commented on #860
This is a Q3 priority, can we please set a milestone (Q3 milestone 3?) and set an owner?

[2019-08-15 18:42] adriennes opened #1098 "Duplicate "Homo sapiens" and "homo sapiens" tag appears in browser"
In the Data Browser Donor facet, both "Homo sapiens" and "homo sapiens" appear as options

[2019-08-15 18:47] claymfischer commented on #1098
Thanks @adriennes, good catch!

@ESapenaVentura is assigned this in ticket 279 of the wrangling repo.

[2019-08-15 20:00] adriennes commented on #1098
Got it, I'll close this one then.

[2019-08-15 20:00] #1098 closed

[2019-08-21 13:15] MightyAx opened #1100 "ErrorType URIs do not resolve"
#Acceptance Criteria
- Have ErrorType URIs resolve to web pages with more information about the error.

#More Info
Current errors have these URIs for error types:
- `http://ingest.data.humancellatlas.org/Error`
- `http://importer.ingest.data.humancellatlas.org/Error`
- `http://submission.importer.ingest.data.humancellatlas.org/Error`
- `http://exporter.ingest.data.humancellatlas.org/Error`

These

[2019-08-21 14:09] MightyAx opened #1101 "Error Type URIs do not resolve to an actual webpage."
# Acceptance Criteria
- Ingest Error Type URIs should resolve to a pages that gives more information about that type of error.

# More Info
Ingest error types reported to ingest-core must be URIs due to the Problem interface.
The error types used by ingest-client to be added to submissions were chosen arbitrarily, and do not resolve to a real webpage.
By having these error types resolve to real lo

[2019-08-21 14:10] MightyAx commented on #1101
Zenhub error, issue raised against wrong repository.

[2019-08-21 14:10] #1101 closed

[2019-08-21 15:40] zperova commented on #1100
@MightyAx i believe this one does not belong here?

[2019-08-22 09:00] MightyAx commented on #1100
Apologies, My zenhub client has been making issues against the wrong repository. I'll use GitHub directly in future.

[2019-08-22 09:00] #1100 closed

[2019-08-22 10:03] zperova opened #1103 "Change user-friendly name to "Funders" in project.json"
**For which schema is a change/update being suggested?**

I would like to request an update to the `project.json` schema.

**What should the change/update be?**

I would like to change the user-friendly name `Funding source(s)` to `Funders` to ensure consistency with the module name in the schema.

**Why is the change requested?**

This will ensure that the metadata spreadsheet generated by the sc

[2019-08-23 20:33] stahiri opened #1104 "Remediate Critical lodash vulnerability"
GitHub reports the following **Critical** severity vulnerability in HumanCellAtlas/metadata-schema and HumanCellAtlas/metadata-schema-publisher. Please remediate by the end of Q3 Milestone 3.

### Description
lodash

### Suggested Remediation
Upgrade lodash to version 4.17.13 or later

### Details
Affected versions of lodash are vulnerable to Prototype Pollution. The function defaultsDeep could be

[2019-08-23 20:39] stahiri opened #1105 "Remediate High js-yaml vulnerability"
GitHub reports the following **High** severity vulnerability in HumanCellAtlast/metadata-schema-publisher. Please remediate by the end of Q3 Milestone 3.

### Description
js-yaml

### Suggested Remediation
Upgrade js-yaml to version 3.13.1 or later

### Details
Js-yaml prior to 3.13.1 are vulnerable to Code Injection. The load() function may execute arbitrary code injected through a malicious YAML

[2019-08-26 20:34] rexwangcc opened #1106 "Update the schema description for `analysis_process`"
**For which schema is a change/update being suggested?**

*e.g.*: I would like to request an update to the `analysis_process.json` schema.

**What should the change/update be?**

* Field description: FQID(s) of the input bundle(s) used in running the pipeline.
* Field example: "b816d2d6-5f10-4447-4194-3d0a804454d6.2019-08-26T200249.968117Z"

**Why is the change requested?**

The current field only

[2019-08-27 09:06] ESapenaVentura opened #1107 "Update Readme to showcase how to make a PR"
**Description**

As a DCP data wrangler who commits in this repo and reviews commits, I would like to have a paragraph on the main Readme of the repo stating that, in order to suggest a PR, the push needs to be made from a branch.

**Acceptance Criteria**

- [ ] Updated Readme

[2019-08-27 09:30] ESapenaVentura commented on #1090
**Schema update**

For `biomaterial_core.json`:
- Change in version number pattern as described above.
- Delete `|` in `indsc_sample_accession` property pattern match

[2019-08-27 10:13] ESapenaVentura opened #1109 "Update pullapprove config to not ask for reviews"
Update the pullapprove config yaml file to keep it updated with changes in the DCP Wrangler and metadata team.

As a DCP data wrangler team member who reviews pull requests, I would like to update the config file to reflect the latest changes on the metadata/wrangler team.

**Acceptance Criteria**

- [ ] Pullapprove config yaml is adjusted with updated information.

[2019-08-29 11:47] #1090 closed

[2019-08-29 13:28] justincc commented on #1106
In itself this should have no ingest impact since ingest doesn't use this field. However, to actually specify input files to an analysis older than the latest, ingest needs to be able to accept FQIDs when the analysis process is specified (I don't know the exact mechanism here, perhaps you could help @rolando-ebi @alegria?). Then without going and putting the FQIDs in `links.json` the user won't b

[2019-08-30 10:49] lauraclarke opened #1116 "Confirm smartseq 2 fluidgm metadata meets the pipeline teams needs"
This ticket is a placeholder to reminder the metadata team to confirm with the pipelines team that our smartseq 2 fluidgm metadata meets their needs

- [x] Contact pipelines team to ask about their perspective
- [x] Confirmed with pipelines team that fluidgm ss2 metadata is sufficient for their pipelines

[2019-08-30 16:32] justincc commented on #1106
This can't be done in isolation since ingest soon won't be using this field to determine what to copy forward. Instead we will be looking at the input files to the analysis process. So this needs to be a solution inconjunction with whatever work we discover is needed in https://app.zenhub.com/workspaces/dcp-5ac7bcf9465cb172b77760d9/issues/humancellatlas/ingest-central/528

[2019-08-30 16:32] justincc commented on #1106
@parthshahva

[2019-09-04 09:41] zperova commented on #1116
Pipelines team have referenced this in the following PR: https://github.com/HumanCellAtlas/skylab/pull/201

Waiting to hear back on whether any metadata changes are needed.

[2019-09-06 10:26] ESapenaVentura commented on #973
Closing it until we get ATAC-Seq data

[2019-09-06 10:26] #973 closed

[2019-09-06 10:29] ESapenaVentura commented on #49
Was this ever done?

[2019-09-06 10:33] ESapenaVentura commented on #124
@HumanCellAtlas/wranglers Since one of the next future step is to de-modularize the schema, is the aggregation of these fields necessary anymore?

[2019-09-06 10:37] ESapenaVentura commented on #168
The [xenograft](https://github.com/HumanCellAtlas/hca-data-wrangling/issues/252) conversation would fill this need as well, so I'm closing this issue

[2019-09-06 10:37] #168 closed

[2019-09-06 17:32] Lilalamar opened #1121 "Remediate Critical set-value vulnerability"
GitHub reports the following **Critical** severity vulnerability in HumanCellAtlas/metadata-schema. Please remediate by the end of Q3 Milestone 3.

### Description
set-value

### Suggested Remediation
Upgrade set-value to version 2.0.1 or later.

### Details
set-value is vulnerable to Prototype Pollution in versions before 2.0.1 and version 3.0.0. The function mixin-deep could be tricked into addi

[2019-09-07 08:28] mshadbolt commented on #124
Is the de-modularisation a definite thing or still be discussed? I haven't heard anything official that we are going ahead with it?

[2019-09-07 14:24] ambrosejcarr opened #1122 "10x sequencing names inconsistently mention the end bias"
Metadata "Library Construction Method" appears inconsistent to me: for "10X 3' v1" and "10X v2" why mention 3' in only one?

Observed via the Data Portal.

[2019-09-09 08:40] ESapenaVentura commented on #124
Is not official, but I think it's mostly because we don't know how to exactly do it. The person who had the the most idea was Mallory, so after the incentive we might want to discuss if we are going to do it/how/who

[2019-09-09 08:58] lauraclarke commented on #124
I agree we should recover the discussions about schema demodularization once everyone in the office is done with their incentivisation submissions

[2019-09-09 15:46] claymfischer commented on #1122
This is an inconsistency we would like to update post-Barelona. This is being discussed in slack (#data-pipelines-team) by @mshadbolt to ensure this update are not disruptive.

[2019-09-09 15:48] ambrosejcarr commented on #1122
Agree, non-urgent.

[2019-09-09 15:55] mshadbolt commented on #1122
We are staying with using the generic "10X v2 sequencing" until after Barcelona, then once given the all clear that AUDR is working wranglers will work on ensuring all projects consistently use the more specific term. We have also flagged this with pipelines so that they update their queries to the more specific terms.

[2019-09-10 08:50] lauraclarke opened #1124 "Known disease to Disease status in friendly name"
I would like to change the user-friendly name in donor_organism and specimen_from_organism

https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/type/biomaterial/donor_organism.json
https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/type/biomaterial/specimen_from_organism.json

The diseases user-friendly name should change from  *Known disease(s)* to *Di

[2019-09-10 20:19] samanehsan opened #1125 "Add field for 10x v3 feature barcodes"
**For which schema is a change/update being suggested?**

I'm not sure which schema would be appropriate here

**What should the change/update be?**

I would like to add a new field that indicates whether feature barcodes were used for a 10x v3 sequencing assay.

* Field name: has_feature_barcodes
* Field description: Whether the assay uses feature barcoding technology
* Field type: Boolean
* Requ

[2019-09-11 08:39] lauraclarke commented on #1125
@samanehsan do you think that there will be general processing that is uniform across different types of feature barcode use or if different assay types will have different solutions.

Are there assays where feature barcodes might or might not be used?

I see the goal of ensuring that we can know when feature barcodes will be used. I am trying to understand if this needs to be encoded independentl

[2019-09-11 11:04] ESapenaVentura opened #1126 "Change property sequencing_protocol.local_machine_name"
**For which schema is a change/update being suggested?**

I would like an update for the `sequencing_protocol.json` schema.

**What should the change/update be?**

Talking with @lauraclarke about how we capture "provenance" information of who did what and with what, we ran into the `sequencing_protocol.local_machine_name` property.

First, the property should be able to accept multiple machine nam

[2019-09-11 14:36] samanehsan commented on #1125
@lauraclarke, the @HumanCellAtlas/pipelines-computational-biologists will be able to answer your questions about feature barcoding!

[2019-09-11 14:52] kbergin commented on #1125
My limited understanding of feature barcoding is that there are many ways to incorporate and use them, and I think they all impact analysis choices. We plan to do a spike on feature barcoding pipelines next Q and would have more info then. But hopefully someone tagged in Saman's comment can provide more insight.

[2019-09-11 14:55] barkasn commented on #1125
In the short-term we aim to support V3 without feature barcodes, so we need to make sure that we can differentiate datasets with and with out them so a boolean flag is appropriate. I have not looked into the V3 feature barcoding sufficiently to be able to say if further metadata information will be required to be provided in the case where feature barcodes are enabled. A spike is required.

[2019-09-11 15:01] lauraclarke commented on #1125
This sounds like it would be a good topic for a metadata call.

If a general feature barcoding tag is useful I am very happy to add it but I am trying to understand if actually the majority of uses of feature barcoding will be handled differently then specific labels for the specific type of feature barcoding might be a better solution than a blank boolean field

[2019-09-11 15:01] zperova commented on #49
@ESapenaVentura No

[2019-09-11 15:06] lauraclarke commented on #1125
As a specific example right now, you avoid analysing the cite-seq dataset as that is the label in the library construction approach

It might be better to make sure that specific library construction approaches which use a particular feature barcoding strategy that needs a specialist pipeline explicitly list it in library construction on elsewhere rather than with a binary flag and defaulting to l

[2019-09-11 15:21] barkasn commented on #1125
If I understand you correctly, I agree that  having the presence or absence of feature barcodes (FBs) in the library construction tag might be a better approach.

I don't have a preference as long as we can clearly differentiate the libraries that don't use Feature Barcoding. One thing I would urge however, if we go down this path, is to make sure that we avoid a generic tag like "V3" as it will b

[2019-09-11 15:32] hewgreen commented on #1125
Could the current barcodes module that be utilised?
https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/module/process/sequencing/barcode.json

[2019-09-11 15:38] lauraclarke commented on #1125
I wasn't on the call but I think that was what @willrockout was thinking about for cite-seq

So perhaps the presence of one of those fields could be used as a definitive declaration of presence or absence of barcodes

[2019-09-11 15:53] barkasn commented on #1125
I don't know about the existing representation of the barcodes and I would like to learn more. However features barcodes are very different in their use to library barcodes or cell barcodes so would generally not expect the same representation to work unless very general.

[2019-09-11 15:56] lauraclarke commented on #1125
This module is actually for imaging barcodes

[2019-09-11 16:08] hewgreen commented on #1125
@lauraclarke no it's for sequencing barcodes.
It's the metadata you need to locate the barcodes. As Nick says currently used for cell and umi barcodes. Basically three fields:
barcode_read
barcode_offset
barcode_length

so using this would give you:

feature.barcode_read
feature.barcode_offset
feature.barcode_length

[2019-09-11 16:35] hewgreen opened #1127 "Explicitly record cDNA metadata"
The SCEA tertiary portal has a flexible secondary analysis pipeline that can potentially analyse non 10x/SS2 by feeding cDNA parameters.

These are:

cDNA_read
cDNA_read_offset
cDNA_read_size

HCA does not take these parameters as they can be inferred by hard coded mappings based on the library prep technology e.g. 10x V2 has set values for these fields.

However, as this metadata is not recorded,

[2019-09-12 04:21] maniarathi commented on #1067
Closing this. Instead of the delta, simply generate a spreadsheet based on the latest schemas. This will ease up the logic as well as ensure that unchanged items are still tested.

[2019-09-12 04:21] #1067 closed

[2019-09-12 04:28] maniarathi commented on #1068
Since the metadata schema freeze will continue on through Barcelona, this ticket is no longer feasible to complete until October 10th. The completion of this ticket is not required to fulfill the metadata schema integration testing so I'm detaching it from the epic and assigning this to be done in Q4.

[2019-09-12 11:03] zperova opened #1128 "Remove field end_bias from library_preparation_protocol"
**For which schema is a change/update being suggested?**

I would like to request an update to the `library_preparation_protocol.json` schema.

**What should the change/update be?**

The field ```library_preparation_protocol.end_bias``` should be deprecated as it is redundant with the new ontology terms specifying the end bias ```10x 3' v2 sequencing``` and ```10x 5' v2 sequencing``` (and further

[2019-09-16 08:08] lauraclarke opened #1129 "Assessing the tissue fields in the HCA metadata schema"
Discussions spurred by the CZI HCA Seed network meetings mean we must assess what fields we use to capture information about human tissue and how it is collected and stored in our metadata standards.

- [x] Compare HCA fields to John Hopkins document (@lauraclarke can email) and provide a summary of present and absent fields to @lauraclarke
- [x] Create list of currently collected fields and if th

[2019-09-18 13:52] zperova commented on #1129
I started the mapping here: https://docs.google.com/spreadsheets/d/1vPKVitrzUlQo6OShaStzSprgJlMzzw9gJ4Wm052El4g/edit#gid=0

[2019-09-18 20:56] lauraclarke commented on #1127
@hewgreen it isn't entirely clear to me when these details would be needed? for scRNAseq technologies where it wasn't standard?

What are they used for.

I know there is no plans to start taking fastq files before they are been de'muxed by sample. There are other pooling techniques that the DCP might ultimately need to handle such as sample separation by genetic variation but I don't think we will

[2019-09-19 11:34] lauraclarke commented on #1129
Thanks for this, before I send it to Marc I have a couple of questions

Was there a reason you suggested the description field for comments and supplementary files for notes? Could they both use the description field?

Is there a reason that autopsy date is not collection date on the autopsy process?

For the rows where you are uncertain, can you add a bit of detail about your uncertainty in the n

[2019-09-19 13:23] zperova commented on #1129
@lauraclarke

they can both use description field. l understood that "notes" might be longer than "comments" - supplementary files is an option for longer strings of information.

No. Since our relevant metadata fields refer to time, I initially put it in the Time Autopsy completed. In practice they capture both date and time. I updated it in the spreadsheet.

I added notes.

I added a note to pro

[2019-09-19 14:25] lauraclarke opened #1130 "New JSON schema version assessment"
The newest version of JSON schema has been released

https://json-schema.org/ 2019-09
https://json-schema.org/draft/2019-09/release-notes.html

These schema changes need to be assessed so we can understand if we should move and on what timeline

[2019-09-19 18:22] willrockout opened #1131 "Update barcode module fields from string to array."
**For which schema is a change/update being suggested?**

I would like to request an update to the `barcode.json` schema.

**What should the change/update be?**

I would like to change `barcode_read`, `barcode_offset` and `barcode_length` to accept multiple values.

**What new field(s) need to be changed/added?**

Field type: Needs to be changed to an array for all fields.

**Why is the change req

[2019-09-19 18:27] willrockout commented on #1131
This is for a CZI incentive dataset so were trying to move this through relatively quickly but I know this may affect other components. This change will have an effect on both cell barcode and umi barcode fields as they both import the barcode.json module. @hannes-ucsc @samanehsan @kbergin would the above changes cause any major problems?

[2019-09-19 18:35] cjvillar commented on #1131
<img width="999" alt="Screen Shot 2019-09-19 at 11 34 22 AM" src="https://user-images.githubusercontent.com/20974239/65271194-866fba80-dad1-11e9-9834-5b33acf01ad4.png">

[2019-09-19 18:35] cjvillar commented on #1131
Above is an example of the fields in the spreadsheet we received.

[2019-09-19 19:00] samanehsan commented on #1131
It looks like the metadata-api library is not parsing those fields from the `library_preparation_protocol` json so it should not cause any issues there: https://github.com/HumanCellAtlas/metadata-api/blob/develop/src/humancellatlas/data/metadata/api.py#L485

This is a major schema version change since it affects the type of the field right? If so, we will need to update our subscription queries to

[2019-09-19 19:48] lauraclarke commented on #1131
Quick question, is there any way to associate these details with the specific library that used them if we simply add an array.

If there isn't this might need a deeper change than adding an array.

If there is no way to reverse engineer which library used which settings making this change isn't useful

[2019-09-19 20:23] willrockout commented on #1131
@lauraclarke The library preparation protocol id in the sequence file tab connects the sequencing file to the library preparation protocol that made it.

[2019-09-19 20:25] lauraclarke commented on #1131
So a for this dataset a single library preparation uses multiple different barcode offsets and lengths?

If there are multiple different library preparations which use different protocols surely there need to be multiple protocols each with its own barcode details

[2019-09-19 20:45] willrockout commented on #1131
No it’s that the cell barcode is in multiple files example read 1, i7 index and i5 index and we need to capture the length/offset of the barcode in each of those places.

[2019-09-19 20:52] lauraclarke commented on #1131
Okay, just to confirm I have understood

for one library preparation protocol, different fastq files will have different barcode offsets and lengths

I am assuming the convention will be the order of the barcode containing read array will match the order barcode offset and barcode length arrays

That isn't entirely foolproof but the right balance of minimal change to schemas for the usability of d

[2019-09-20 00:37] mhalushka commented on #1129
[Meta data lists.xlsx](https://github.com/HumanCellAtlas/metadata-schema/files/3633672/Meta.data.lists.xlsx)
I combined data from in house protocols, GTEx's data types, and Anna Maria Storniolo Breast Tissue Repository.  I split the data types into specimen and subject metadata. There are 29 data points for specimen metadata and 59 for subject metadata.  Obviously that is too many for a given proj

[2019-09-20 09:58] lauraclarke commented on #1129
Thanks for the list @mhalushka this is a great list of terms. You can see the work @zperova with your original document here  https://docs.google.com/spreadsheets/d/1vPKVitrzUlQo6OShaStzSprgJlMzzw9gJ4Wm052El4g/edit#gid=0

@zperova Would you be able to do a similar workup with respect to the original autopsy worksheet for this list? I guess adding a new sheet to the spreadsheet above might work?

W